{% extends "field_wrapper.html" %}

{% block SVG %}

<!-- <?xml version="1.0" encoding="UTF-8" standalone="no"?> -->
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="100%"
   height="100%"
   viewBox="0 0 210 297"
   version="1.1"
   id="svg8"
   inkscape:version="0.92.5 (2060ec1f9f, 2020-04-08)"
   sodipodi:docname="salina_gambit_A.svg"
   style="background-image: url('../img/fields/salina_gambit_A.png')">
  <defs
     id="defs2" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="0.98994949"
     inkscape:cx="300.79918"
     inkscape:cy="640.11495"
     inkscape:document-units="mm"
     inkscape:current-layer="layer1"
     showgrid="false"
     inkscape:window-width="1848"
     inkscape:window-height="1016"
     inkscape:window-x="72"
     inkscape:window-y="1107"
     inkscape:window-maximized="1" />
  <metadata
     id="metadata5">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1">
    <image
       sodipodi:absref="{{ url_for('static', filename='img/fields/salina_gambit_A.png') }}"
       xlink:href="{{ url_for('static', filename='img/fields/salina_gambit_A.png') }}"
       width="208.55217"
       height="298.41367"
       preserveAspectRatio="none"
       id="image72"
       x="1.1792768"
       y="-2.6413686" />
    <path
       style=""
       d="m 155.55086,34.808593 -20.57975,-20.847023 -24.05426,0.801809 -16.837976,23.252449 5.34539,15.768902 28.865106,4.276312 24.5888,5.87993 z"
       id="LISTENING POST"
       inkscape:connector-curvature="0" />
    <path
       style=""
       d="m 152.87817,63.940972 1.33635,26.459683 -24.05426,5.612659 -43.832204,-11.225321 -16.570711,-2.405425 24.321529,-44.36674 5.34539,15.768902 28.865106,4.276312 z"
       id="SUPPLY DEPOT"
       inkscape:connector-curvature="0" />
    <path
       style=""
       d="m 154.21452,90.400655 10.95805,40.357695 -21.64883,24.85607 -24.32153,-10.95805 -6.41447,-23.78699 -12.15158,-32.606733 29.5241,7.750667 z"
       id="UTILITY BUNKER"
       inkscape:connector-curvature="0" />
    <path
       style=""
       d="M 69.757345,82.382568 70.492558,206.4747 87.879463,206.85268 119.20221,144.65637 112.78774,120.86938 100.63616,88.262647 86.328056,84.787993 Z"
       id="WEST PIPELINE"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cccccccc" />
    <path
       style=""
       d="m 87.879463,206.85268 44.412197,24.75744 13.22917,-1.13393 30.04911,-44.22322 -10.39737,-55.49462 -21.64883,24.85607 -24.32153,-10.95805 z"
       id="EAST PIPELINE"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cccccccc" />
    <path
       style=""
       d="m 70.492558,206.4747 -55.562499,0.37798 0.944941,-66.90179 54.149616,0.36235 z"
       id="SALINIAN GOVT"
       inkscape:connector-curvature="0" />
    <path
       style=""
       d="m 145.52083,230.47619 -29.39222,51.95762 -14.83346,-0.53453 -0.93544,-39.42227 -12.480249,-35.62433 44.412199,24.75744 z"
       id="CLEARSKY INC"
       inkscape:connector-curvature="0" />
  </g>
</svg>




{% endblock %}
