{% extends "index.html" %}

{% block SVG %}

<!-- <?xml version="1.0" encoding="UTF-8" standalone="no"?> -->
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="100%"
   height="100%"
   viewBox="0 0 210 297"
   version="1.1"
   id="svg8"
   inkscape:version="0.92.5 (2060ec1f9f, 2020-04-08)"
   sodipodi:docname="salina_gambit_B.svg">
  <defs
     id="defs2" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="0.98994949"
     inkscape:cx="300.79918"
     inkscape:cy="640.11495"
     inkscape:document-units="mm"
     inkscape:current-layer="layer1"
     showgrid="false"
     inkscape:window-width="1848"
     inkscape:window-height="1016"
     inkscape:window-x="72"
     inkscape:window-y="1107"
     inkscape:window-maximized="1" />
  <metadata
     id="metadata5">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1">
    <image
       sodipodi:absref="{{ url_for('static', filename='img/fields/salina_gambit_B.png') }}"
       xlink:href="{{ url_for('static', filename='img/fields/salina_gambit_B.png') }}"
       width="205.28172"
       height="290.92862"
       preserveAspectRatio="none"
       id="image178"
       x="3.0930665"
       y="1.7646441" />
    <path
       style=""
       d="m 142.21354,202.74218 -26.87174,-0.41341 0.2067,-45.26855 h 40.72103 l -0.20671,20.05045 h -14.6761 z"
       id="CONTROL STATION"
       inkscape:connector-curvature="0" />
    <path
       style=""
       d="m 156.26953,157.06022 22.73763,0.41341 -3.92741,24.39128 -17.56999,27.49186 -15.29622,-6.61459 -0.82682,-25.63151 h 14.6761 z"
       id="EAST PIPELINE"
       inkscape:connector-curvature="0" />
    <path
       style=""
       d="m 115.5485,157.06022 -36.586912,-3.72071 -12.60905,7.64812 4.134115,54.3636 29.972327,0.41341 14.88282,-13.43587 z"
       id="WEST PIPELINE"
       inkscape:connector-curvature="0" />
    <path
       style=""
       d="m 100.45898,215.76464 7.2347,40.30762 21.91081,0.82682 27.90527,-47.54231 -15.29622,-6.61459 -26.87174,-0.41341 z"
       id="GENERATOR"
       inkscape:connector-curvature="0" />
    <path
       style=""
       d="m 115.5485,157.06022 3.7207,-62.01172 45.26856,0.206706 14.4694,62.218424 -22.73763,-0.41341 z"
       id="UTILITY BUNKER"
       inkscape:connector-curvature="0" />
    <path
       style=""
       d="M 66.352538,160.98763 77.514647,94.014971 119.2692,95.0485 l -3.7207,62.01172 -36.586912,-3.72071 z"
       id="NORTH PIPELINE"
       inkscape:connector-curvature="0" />
    <path
       style=""
       d="M 77.514645,94.014969 97.978514,33.656899 140.35319,34.690428 164.53776,95.255206 119.2692,95.0485 Z"
       id="NORTH MEDIC OUTPOST"
       inkscape:connector-curvature="0" />
    <path
       style=""
       d="m 66.352538,160.98763 -47.542317,0.82682 -0.206706,47.74902 51.883138,5.78776 z"
       id="WEST MEDIC OUTPOST"
       inkscape:connector-curvature="0" />
  </g>
</svg>




{% endblock %}
