<form [formGroup]="gameModeForm" (ngSubmit)="onNewGameModeFormSubmit()">
    <input type="hidden" formControlName="id">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Firstname" formControlName="name">
    </div>
    <div class="form-group">
      <label for="numNodes">Num of Nodes</label>
      <input type="text" class="form-control" id="numNodes" placeholder="numNodes" formControlName="numNodes">
    </div>  
    <div class="form-group">
      <label for="nodeModes">Node Modes</label>
      <button type="button" (click)="setNodes()">Click here to Edit</button>
      <div class="input-group">
        <input disabled type="text" class="form-control" id="nodeModes" placeholder="some test" formControlName="nodeModes">
      </div>
    </div>
    <div class="form-group">
      <label for="map">Map</label>
      <div class="input-group">
        <input type="text" class="form-control" id="map" placeholder="" formControlName="map">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Configure your nodes for this game mode</h5>
              <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                  <span aria-hidden="true">×</span>
              </button>
          </div>
          <div class="modal-body">
              <app-device-list></app-device-list>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
          </div>
      </div>
  </div>
</div>
<div class="modal-backdrop fade show" id="backdrop" style="display: none;"></div>