<form [formGroup]="gameModeForm" (ngSubmit)="onNewGameModeFormSubmit()">
  <input type="hidden" formControlName="id">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Game Mode Name" formControlName="name">
  </div>
  <div class="form-group">
    <label for="map">Map</label>
    <select formControlName="map" class="form-control" (change)="changeMap($event)">
      <option disabled selected value> -- Select your Map -- </option>
      <option [value]="map.name" *ngFor="let map of maps">{{map.name}}</option>
    </select>
  </div>

  <table class="table table-bordered" formArrayName="teams">
    <tr>
      <th colspan="2">Assemble the Teams:<button type="button" (click)="addTeam()" class="btn btn-primary keepRight">Add
          More</button></th>
      <!-- <th width="150px"></th> -->
    </tr>
    <div style="max-width:80%">
      <tr *ngFor="let team of gameModeForm.get('teams')['controls']; let i=index" [formGroupName]="i">
        <td>
          Name :
          <input type="text" formControlName="name" class="form-control">
        </td>
        <td>
          Color:
          <br>
          <select [ngModel]="i" class="form-control" formControlName="color" [id]="'colorPicker'+i"
            (change)="changeColor($event)">

            <option [style.background-color]="color.value" [value]="color.id" *ngFor="let color of colors">
              {{color.name}}</option>
          </select>
        </td>
        <td *ngIf="i > 1">
          <button (click)="removeTeam(i)" class="btn btn-danger">Remove</button>
        </td>
      </tr>
    </div>

  </table>
  <button type="button" class="btn btn-success cust_btn" [disabled]="!isMapSelected" (click)="setNodes()">Click here
    to Edit Device Configurations</button>
  <br />
  <button type="submit" [disabled]="!isMapSelected || !configSet" class="btn btn-primary">Save</button>
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true"
  role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Configure nodes for this game mode.</h5>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <app-device-list [config]="deviceListConfigs"></app-device-list>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show" id="backdrop" style="display: none;"></div>