
.center-cust{
    justify-content: center;
    text-align: center;
  }

img.carousel-image {

    object-fit: cover;
    max-height: 400px;
    width: 100%;

}

slide div p, slide div h3{
    color: #000000;
    background-color: rgb(255,255,255,0.5);
    border-radius: 0.2rem;
}
