
  <carousel>
    <slide>
      <img src="../../../assets/images/soldierA.jpg" alt="first slide" class="carousel-image mx-auto" >
      <div class="carousel-caption d-none d-md-block">
        <h3>Create, Modify, Manage Game Modes</h3>
        <p>Create game for regular game play or custom and unique games for events.</p>
      </div>
    </slide>
    <slide>
      <img src="../../../assets/images/device_with_blue_band.png" alt="second slide" class="carousel-image mx-auto">
      <div class="carousel-caption d-none d-md-block">
        <h3> Alter configurations in realtime </h3>
        <p> Spawn or modify objectives to even out strength in battle.</p>
      </div>
    </slide>
    <slide>
      <img src="../../../assets/images/Salina_Gambit_action.png" alt="third slide" class="carousel-image mx-auto">
      <div class="carousel-caption d-none d-md-block">
        <h3>Track Games Live</h3>
        <p> Receive realtime actions, stats, map updates, and more! </p>
      </div>
    </slide>
  </carousel>
  <div class="container marketing">



    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">
    <h1 class="center-cust"> The Rundown</h1>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Custom Maps</h2>
        <p class="lead">Customized maps let you get more use out of your acreage.
                        Tired of the same scenarios?  Reconfigure devices to work for you and
                        maximize your land by seamlessly remapping device locations
                        and territorial boundaries.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"  style="max-height: 500px;" src="../../../assets/images/ballahack_territory.png" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"/>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Custom Game Configurations</h2>
        <p class="lead"> Each device is capable of operating in a variety of modes,
                         which can be altered in live games to shift the battle and
                         keep all players engaged. Reconfigure on the fly or run static
                         scenarios back to back to challenge assaulting teams with
                         competitive time trials - it's completely up to you and there
                         are no limits to the possibilities.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"  src="../../../assets/images/gameModes.png" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"/>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Track and Share your accomplishments - LIVE</h2>
        <p class="lead">We pull game data on a per player basis from every game and store it
                        so players can share and reflect on their accomplishments. Assemble
                        into squads and watch as your rankings grow within the community.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="../../../assets/images/liveNodeUpdates.png"  role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"/>

      </div>
    </div>

    <hr class="featurette-divider">
    <h1 class="center-cust"> People say the darndest things. </h1>
    <!-- Three columns of text below the carousel -->
    <div class="row align-bottom">

      <div class="col-md-3">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../../../assets/images/swamp_sniper.png" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"/>

        <h2>Swamp Sniper</h2>
        <p>"It was so cool and all that stuff."</p>
      </div>

      <div class="col-md-3">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../../../assets/images/ballahack_logo.png" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"/>

        <h2>Ballahack Airsoft</h2>
        <p>"Great Product!"</p>
      </div>

      <div class="col-md-3">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../../../assets/images/soldierC.jpg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"/>

        <h2>Rob</h2>
        <p>"Its a good thing."</p>
      </div>

      <div class="col-md-3">
        <img class="bd-placeholder-img" width="140" height="140" src="../../../assets/images/KDK_logo.png" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"/>

        <h2>Kyle</h2>
        <p>"I <b class="censored">censored</b> love this."</p>
      </div>

    </div>
    <!-- /END THE FEATURETTES -->

  </div>
