// https://www.shutterstock.com/image-photo/two-special-forces-soldiers-men-holding-402474256
.home_container{
  @media screen and (min-width: 768px) {
    min-height: 70vh;   
  }
  @media screen and (max-width: 768px) {
    min-height: 100vh;  
    margin-left: 5vh;  
    margin-right: 5vh;  
  }  
  margin:5px;
}
.leaderboard{
  @media screen and (min-width: 768px) { 
    max-width: 30vh;
  }
  // @media screen and (min-width: 1200px) {  
  //   align-items: right;
  // }
  :not(.mobileApp){ 

  }
  // transform: skew(28deg, 0deg);  
}