select {
    margin: 1rem 0;
}

div.main_title {
    text-align: center;
}


h1.text-center.pt-3 {
    background-color: #F0F0F0;
    margin: 0;
    padding: 1rem 0;
}


.btn-timer {
    padding: 0 1rem;
    line-height: 3.5rem;
}
.btn-timer :first-child {
    display: inline-block;
    padding: 0 0 0 1rem;
    margin: 0 0 0 1rem;
    font-weight: normal;
    text-align: center;
    border-left: 1px solid black;
}

.padding-sm {
    padding: 0.5em;
}

.padding-xs-x {
    padding: 0 0.25em;
}

.font_white{
    color: white;
}

.team_row {
    opacity: 0.9;
}

.h5 {
    margin: 0;
}

ngx-datatable {
    margin: 0;
}

.team_header {
    margin: 0;
    padding: 1rem 0;
}

.team-section {
    margin: 1rem 0;
}
