
<div class="events_area">
    <div class="container">
        <div *ngIf="!gameBoardCollapsed" class="row justify-content-center">
            <div class="col-lg-5">
                <div class="main_title">
                    <h4>To Being Select Game Mode</h4>
                    <select class="form-control" (change)="changeGame($event)">
                        <option disabled selected value> -- Select to Start Game -- </option>
                        <option [value]=gameMode.id *ngFor="let gameMode of gameModes">
                            {{gameMode.description}}</option>
                    </select>
                    <br>
                    <button type="button" class="bg-primary btn" (click)="startGame()">START GAME</button>
                </div>
            </div>
        </div>
        <div class="row collapsible" [@collapse]="!gameBoardCollapsed" id="gameManagementBoard">
            <div class="col-lg-12"><h4 class="text-center pt-3">{{getSelectedGameModeName()}}</h4></div>

            <div class="col-lg-12">
                <div class="text-center pt-3">
                    <div id="activeInGameNodes">
                        <app-device-list [config]="activeDevices" (nodeConfigs)="nodeConfigs($event)"></app-device-list>
                        <!-- //(modalClose)="closeModal($event)" [config]="deviceListConfigs" (nodeConfigs)="nodeConfigs($event)" -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
