

.beacon-container {
  position: relative;
  padding: 0;
}

.beacon {
  content: '';
  display: block;
  width: 4%;
  height: 0;
  padding-bottom: calc(4%);
  border: 1vw;
  border-radius: 50%;
  position: absolute;
  /* top: 50%;
  left: 50%; */
  animation: pulsate infinite 1.5s;
}

@keyframes pulsate {
  from {transform: scale(0.8);
      opacity: 1;
  }
  to {transform: scale(1.2);
        opacity: 0;
  }
}


path {
    opacity: 0;
    transform-origin: center;
    transform-box: fill-box;
}
path:hover {
    fill: var(--WHITE);
    opacity: 0.25;
    transform: scale(1.1);
}

path.owned {
    opacity: 0.5;
}


div.roster {
    max-height: 22.8em;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}


#tooltip {
    color: var(--BLACK);
    background: #FFFFFF80;
    border-radius: 0.2em;
    padding: 0.1em;
    z-index: 10;
}


path.demo {
    animation: draw 2s infinite linear;
    stroke-width: 2px;
    stroke-dasharray: 10;
    stroke: #FF0000;
    fill: #CC5500;
}

@keyframes draw {
    0% {
        stroke-dashoffset: 0;
        opacity: 0.25;

    }
    50% {
        stroke-dashoffset: 10;
        fill: #FF0000;
        opacity: 0.75;
        transform: scale(0.9);
    }
    100% {
        stroke-dashoffset: 20;
        opacity: 0.25;
    }
}
