

.field_link {

    width:         30%;
    height:        2.5em;
    font-size:     200%;
    border-radius: 0.1em;

    display: inline-flex;
    text-align: left;
    justify-content: left;
    align-items: center;
    vertical-align: middle;

    margin:  0.1em;
    padding: 0.1em;

}

#ballahack.field_link {

    background-image: url('../img/logos/ballahack.png');
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;

    background-color: var(--BLACK);
    color: var(--WHITE);

    font-family: 'mouse_memoirsregular';

}
