
circle {
  fill: none;
  /* stroke: var(--button_color); */
  transition: stroke-dashoffset 5s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}


circle.capture {
    fill: none;
    stroke: #808080;
}

circle.assist {
    fill: none;
    stroke: #800000;
}

svg.score {
    overflow: visible;
}
svg.score:hover {
    transform: scale(1.2);
}

#tooltip {
    color: var(--WHITE);
    background: var(--button_color);
    border-radius: 0.2em;
    padding: 1em;
    z-index: 10;
}
