/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video  */

:root {

  --button_color:       #808080;
  --button_color_hover: #A00000;

  --table_bg:           #FFFFFF;
  --table_color_hover:  #A0A0A0;

  --RED:                #F00000;
  --LIGHT_RED:          #FFF0F0;

  --BLUE:               #0000F0;
  --LIGHT_BLUE:         #F0F0FF;

  --PURPLE:             #3333CC;
  --LIGHT_PURPLE:       #F0F0CC;

  --YELLOW:             #FFFF00;
  --LIGHT_YELLOW:       #FFFFF0;

  --GREEN:              #008000;
  --LIGHT_GREEN:        #F0FFF0;

  --BLACK:              #000000;
  --WHITE:              #FFFFFF;
}

html {
    min-height: 100%;
    min-width: 100%;
}

body {
    padding: 0;
    vertical-align: top;
    text-align: left;
    font-family: 'special_eliteregular'
}

header{
    /* border-radius:          0.1em; */
    /* color: rgba(255,255,255,0.70); */
    text-align:             center;
    vertical-align:         center;
    /* background-color: var(--BLACK); */
    /* background-image: url('../img/logo.png'); */
    background-image:       url('../img/soldierA.jpg');
    background-repeat:      no-repeat;
    background-position:    center;
    background-size:        cover;
    filter:                 drop-shadow(0 0 2em black) grayscale(0.5);
    font-size:              350%;
    padding:                1em;
}


h1, h3{
    text-align:         center;
    padding:            0.5em;
    text-transform:     uppercase;
    margin:             0px;
}
h1 {
    font-size: 175%;
}
h3 {
    font-size: 125%;
}
h1:hover, h3:hover, header:hover{
    color: var(--button_color_hover);
}


h2 {
    text-align: center;
    font-size: 100%
}


.nav {
    margin: 0;
    width: 100%;
    display: table;
    table-layout: fixed;
    padding-inline-start: 0;
    font-family: 'special_eliteregular';
}
.nav li {
    display: table-cell;
    text-align: center;
    padding-left: 0.25em;
    text-transform: uppercase;
}
.nav li:first-child {
    padding-left: 0;
}
.nav li a {
    width: 100%;
    display: block;
    height: 100%;
    line-height: 3em;
    text-decoration: none;
    /* background-color: var(--button_color); */
    font-size: 125%;
    color: var(--BLACK);
}
.nav li a:hover {
    /* background-color: var(--button_color_hover); */
    box-shadow: 0 0 1em rgba(255, 255, 255, 0.25);
    transform: scale(1.05);
    color: var(--BLACK);
}

.nav li a:active {
    box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.25);
    transform: scale(0.98);
    border-bottom: solid var(--RED) 4px;
}

.nav li:after {
  content: '';
  display: block;
  margin: auto;
  height: 4px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
.nav li:hover:after {
  width: 100%;
  background: var(--BLACK);
}

.grid_container {
    margin: 0;
    width: 100%;
    display: table;
    table-layout: fixed;
    padding-inline-start: 0;
}

.grid_element {
    display: table-cell;
    text-align: center;
    vertical-align: top;
}

.grid_element.middle {
    width: 65%;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

.leaderboard, .leaderboard_header{
    animation-duration: 0.5s;
    animation-name: slidein;
}
.leaderboard_header {
    border-bottom: var(--BLACK) solid;
}

@keyframes slidein {
    from {
        margin-right: 100%;
        width:  300%;
    }

    to {
        margin-right: 0%;
        width: 100%;
    }
}

li.tablink.active {
  border-bottom: var(--button_color_hover) solid 4px;
}



form {
    padding: 1em;
    text-align: center;
    width: 80%;
}

.form_field {
    text-align: left;
    padding: 1em;
    display: inline-block;
    width: 30%
}

legend {
    padding: 1em;
    text-align: center;
    font-size: 125%;
}
label, select{
    font-size: 110%;
    background-color: #FFFFFF;
}


input {
    padding: 1em;
    width: 100%;
    margin: 0.5em 0;
    box-sizing: border-box;
}

.button {
    border-radius: 0.2em;
    padding: 1em;
    font-size: 150%;
    text-transform: uppercase;
    width: 60%;
    background-color: var(--button_color);
    color: var(--WHITE);
}

button:hover, .button:hover {
    background-color: var(--button_color_hover);
    box-shadow: 0 0 1em rgba(255, 255, 255, 0.25);
    transform: scale(1.05);
  }

button:active, .button:active {
    box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.25);
    transform: scale(0.98);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 1em;
  width: 100%;
}

option {
  padding: 1em;
  width: 100%;
}

fieldset {
  background-repeat: no-repeat;
  background-position: right center;
}

table {
  border-collapse: collapse;
  align-items: center;
  width: 100%;
}

.header {
  color: #FFFFFF;
  border-bottom: 1px solid var(--BLACK);
  padding: 1em;
  text-align: center;
  background-color: var(--BLACK);
  font-weight: bold;
  text-transform: uppercase;
  white-space: pre-line;
}

.row {
  border-bottom: 1px solid var(--BLACK);
  background-color: var(--table_bg)
  padding: 1em;
  text-align: center;
}
.row:hover {
    color: var(--WHITE);
    background-color: var(--table_color_hover);
    /* font-weight: bold; */
}

td {
  padding: 1em;
}


div.table-wrapper {
    border: 1px solid var(--BLACK));
    max-height: 40em;
    width: 100%;
    overflow-y: auto;
 }


table {
   width: 100%;
   border: 1px solid var(--BLACK));
 }

thead th {
   position: sticky;
   top: 0px;
 }

table thead tr th {
  position: sticky;
}

#fields {
    display: flex;
    justify-content: space-between;
}


#mbr_search {
  /* background-image: url('../img/ss.png');
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat; */
  float: right;
  width: 40%;
  font-size: 1em;
  padding: 1em;
  border: 1px solid var(--button_color);
  border-radius: 0.2em;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
a { text-decoration: none; }


footer {
    padding: 3em;
}

/* Player Registration Form */

dd, dt {
    margin-inline-start: 0;
}


#players.select {
    width: 100%;
}

#user_registration {
    width: 70%;
}



.glow {
  color: #FFFF;
  text-align: center;
  -webkit-animation: glow 1.5s ease-in-out infinite alternate;
  -moz-animation: glow 1.5s ease-in-out infinite alternate;
  animation: glow 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 0.1em #FFA, 0 0 0.2em #F82;
  }
  to {
    text-shadow: 0 0 0.2em #DA0, 0 0 0.8em #E60
  }
}


.error {
  border: 1px solid rgba(241, 6, 6, 0.81);
    background-color: rgba(220, 17, 1, 0.16);
    box-shadow: 0px 0px 2px #ff0303;
    color: #ff0303;
    text-shadow: None;
  transition:0.5s;
  cursor:pointer;
  font-size: 110%;
}

.alert:hover {
  background-color: rgba(220, 17, 1, 0.33);
  transition:0.5s;
}


.success {
    border: 1px solid rgba(36, 241, 6, 0.46);
    background-color: rgba(7, 149, 66, 0.12);
    box-shadow: 0px 0px 2px #259c08;
    color: #0ad406;
  text-shadow: None;
  transition:0.5s;
  cursor:pointer;
  font-size: 110%;
}

.success:hover{
  background-color: rgba(7, 149, 66, 0.35);
  transition:0.5s;
}
