

td select {
  width: 100%;
  padding: 0;
  border: none;
  font-size: 100%;
  font-family: 'special_eliteregular';
  text-align-last: center;
  background: none;
  color: inherit;
}

th, input {
  width: unset;
  margin: 0;
  vertical-align: middle;
}

.broadcast.enabled {
    color: #008000;
    font-weight: bolder;
}
