
.playerPage {
    margin  : 0;
    padding : 0;
    background-color: ;
}

.container1 {
    display : flex;
    flex-direction: row;
}

.playertab {
    display: inline-block;
    width: 100%;
    text-align: left;
}

.playerImage {
    margin    : 0 0 1em 1em;
    float     : right;
}

img.playerImage {
    max-width  : 25%;
}

#player_name {
    text-transform: capitalize;
}

.playerInfo {
    text-align     : left;
    vertical-align : top;
    font-size      : 120%;
    margin         : 1em 0;
}

.playerInfo {
    padding : 1em;
}

.playerStats, .playerInfo, h1 {
    font-family: 'special_eliteregular'
}


circle {
  fill: none;
  stroke: var(--button_color);
  transition: stroke-dashoffset 5s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}


circle.capture {
    fill: none;
    stroke: #808080;
}

circle.assist {
    fill: none;
    stroke: #800000;
}

svg.score:hover{
    transform: scale(1.2);
}

svg text {
    font-family: 'special_eliteregular'
}
