<nav *ngIf="!appSvc.isMobile" class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container-fluid">

        <!-- <div id="particles-js" onload="particlesJS(this.id)"> </div> -->

        <button class="navbar-toggler" type="button" (click)="openMenu()" aria-controls="navbarTogglerDemo03"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <img [routerLink]="['/non-secure/home']" class="hc_custom img-fluid" src="../../../assets/images/logo.png"
            alt="user" />

        <div class="collapse navbar-collapse" id="navdrop">

            <!-- NON SECURE LINKS DURING SECURE SESSION -->
            <!-- <ul class="navbar-nav mr-auto mt-2 mt-lg-0"> -->
            <ul *ngIf="isSecure" class="navbar-nav mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                        (click)="openInfoMenu()" aria-haspopup="true" aria-expanded="false">
                        Info
                    </a>
                    <div id="infoDropdown" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" (click)="closeInfoMenu()" [routerLink]="['/non-secure/home']">Home</a>
                        <a class="dropdown-item" (click)="closeInfoMenu()"
                            [routerLink]="['/non-secure/feature-list']">Features</a>
                        <a class="dropdown-item" (click)="closeInfoMenu()"
                            [routerLink]="['/non-secure/field-info']">Field Info</a>
                    </div>
                </li>
            </ul>

            <!-- NON SECURE LINKS BELOW -->
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0" *ngIf="!isSecure">
                <li class="nav-item">
                    <a class="nav-link" id="nav_home" (click)="route('/non-secure/home')">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav_featureList" [routerLink]="['/non-secure/how-to-use']"> How it works
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav_fieldInfo" [routerLink]="['/non-secure/field-info']">Field Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav_register" [routerLink]="['/auth/sign-up']">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="secure_nav_mygame" [routerLink]="['/non-secure/live-games']">LIVE Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="secure_nav_pastgame"
                        (click)="route('/non-secure/leader-board')">Leaderboard</a>
                </li>
            </ul>
            <!-- SECURE LINKS BELOW -->
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0" *ngIf="isSecure">
                <li class="nav-item">
                    <a class="nav-link" id="secure_nav_dashboard" [routerLink]="['/secure/dashboard']">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="secure_nav_profile" [routerLink]="['/secure/profile']">Profile</a>
                </li>
                <li *ngIf="isField" class="nav-item">
                    <a class="nav-link" id="secure_nav_currentgame" [routerLink]="['/secure/startGame']">Manage
                        Games</a>
                </li>
                <li *ngIf="isField" class="nav-item">
                    <a class="nav-link" id="secure_nav_mygame" [routerLink]="['/secure/manageGame']">Configure Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="secure_nav_mygame" [routerLink]="['/secure/live-games']">LIVE Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="secure_nav_pastgame" (click)="route('/secure/past-games')">Past Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="secure_nav_pastgame"
                        (click)="route('/non-secure/leader-board')">Leaderboard</a>
                </li>

            </ul>


            <!-- SIGN-IN / SIGN-OUT -->
            <ul class="navbar-nav my-2 my-lg-0" *ngIf="!isSecure">
                <div class="form-inline">
                    <button class="btn btn-outline-success my-2 my-sm-0" [routerLink]="['/auth/login']"
                        type="submit">Sign In</button>
                </div>

            </ul>

            <ul class="navbar-nav my-2 my-lg-0" *ngIf="isSecure">
                <div class="form-inline my-2 my-lg-0">
                    <button class="btn btn-outline-danger my-2 my-sm-0" (click)="signOut()" type="submit">Sign
                        Out</button>
                </div>

            </ul>
            <!-- </ul> -->
        </div>

    </div>

</nav>
<nav *ngIf="appSvc.isMobile" style="background-color: black;
color: white;">
    <i style="margin: 1rem" class="fa fa-bars" (click)="toggleSideMenu()" aria-hidden="true"></i>
    <div id='wrapper' *ngIf="openSideMenu">

        <div id="sidebar-wrapper">
            <ul class="sidebar-nav"> 
                <li>
                    <a (click)="toggleSideMenu()" [routerLink]="['/secure/past-games']">Past Games</a>
                </li>
                <li>
                    <a (click)="toggleSideMenu()" [routerLink]="['/non-secure/leader-board']">Leaderboard</a>
                </li>
                <li class="sidebar-brand">
                    <a>
                        Field Management
                    </a>
                </li>
                <li *ngIf="isField">
                    <a (click)="toggleSideMenu()" [routerLink]="['/secure/manageGame']">Configure Games</a>
                </li>
                <li *ngIf="isField">
                    <a (click)="toggleSideMenu()" [routerLink]="['/secure/startGame']">Manage Games</a>
                </li>
                <li class="sidebar-brand">
                    <a>
                        Helpful links
                    </a>
                </li>
                <li>
                    <a (click)="toggleSideMenu()" [routerLink]="['/auth/sign-up']">Register</a>
                </li>
                <li>
                    <a (click)="toggleSideMenu()" [routerLink]="['/non-secure/how-to-use']">How it works</a>
                </li>
                <li>
                <li>
                    <a (click)="toggleSideMenu()" [routerLink]="['/non-secure/contact-us']">Conact Us</a>
                </li>
                <li>
                    <a (click)="toggleSideMenu()" [routerLink]="['/non-secure/privacy-policy']">Privacy Policy</a>
                </li>

            </ul>
        </div>
    </div>
</nav>