
@import "../../../assets/libs/font-awesome-4.7.0/scss/font-awesome.scss";

.social-button-container {
    width: 100%;
    text-align: center;
}

.btn {
    width: 100%;
    margin: 0.5rem 0;
}

.btn-facebook {
    color: #ffffff !important;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-social:hover {
    color: #eee;
}

.btn-social :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    padding: 7px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}

.btn-google {
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 1px #ddd
}



.selectOne{
  font-weight: bold;
}
.center-cust{
  justify-content: center;
  text-align: center;
}
.cust_skir_signup{
  background: #223b04;//#786546-223b04-182b02
  color: #ffffff;
}

.social_icon{
  justify-content: center;
}
.custom_skirmesh{
    background-image: url('../../../assets/images/soldierB.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.login-screen {
    position: relative;
    box-shadow: 0px 5px 50px #ccba87;
    background: #e3d1b3;
    margin: 60px auto;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.login-screen .login-logo {
    margin: 20px 0 30px 0;
    display: block;
}

.login-screen .login-logo > img {
    margin: 0;
    max-height: 100px;
}

.login-screen .login-box {
    padding: 30px 30px;
}

.login-screen .login-box h5 {
    margin: 0 0 20px 0;
    color: #5a99ee;
    text-align: center;
}

.login-screen .actions {
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.login-screen .actions a {
    color: #5a99ee;
    text-decoration: none;
    margin-top: 12px;
    display: block;
    font-size: .8rem;
}

.login-screen .actions a:hover {
    text-decoration: underline;
}

.login-screen .actions .btn {
    padding: 8px 25px;
    text-transform: uppercase;
}

.login-screen a.additional-link {
    text-decoration: none;
    margin: 30px auto 0 auto;
    text-align: center;
    display: block;
}

.login-screen a.additional-link span {
    text-decoration: underline;
    color: #5a99ee;
}

.login-screen p.info {
    padding: 0;
    margin: 0 0 20px 0;
    line-height: 150%;
    color: #8796af;
    text-align: center;
}

/*************** 13 B. OR | Line between two blocks ***************/
.or {
  position: relative;
  text-align: center;
  margin-bottom: 20px; }
  .or::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 15%;
    width: 70%;
    height: 1px;
    background-color: #e6ecf3; }
  .or span {
    position: relative;
    background-color: #e3d1b3;
    padding: 0 10px;
    z-index: 10; }

    /*************** 17 C. Buttons ***************/
.btn {

max-width: 75%;
justify-content: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 0;
  padding: .375rem 1rem; }
  .btn .icon {
    font-size: 1.4rem;
    vertical-align: middle;
    margin-top: -4px;
    display: inline-block; }
  .btn.focus, .btn:focus {
    color: #ffffff; }

.btn-sm {
  padding: .25rem .75rem; }
  .btn-sm .icon {
    font-size: 1rem;
    vertical-align: middle;
    margin-top: -2px;
    display: inline-block; }

.btn-rounded {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px; }

.btn-primary {
  background: #223b04;//#786546-223b04-182b02
  color: #ffffff; }
  .btn-primary:hover {
    background: #438bec;
    color: #ffffff; }
  .btn-primary:focus {
    box-shadow: 0 0 0 3px #fcfdff; }
