<div class="row justify-content-center">

    <div class="col-6">

        <h4> Enter your email, hit submit, then check your email. </h4>

        <form [formGroup]="resetPass" autocomplete="off" method="POST">

            <div class="form-group">
                <input formControlName="email"
                       type="text"
                       class="form-control"
                       placeholder="Email"/>
            </div>
            <div class="row">
                <div id="passResetEmailSent" class="alert alert-danger d-none center-cust">
                    Please check your email from Skirmesh to login and reset your password.<br>
                    If no email recieved please try again or <a [routerLink]="['/non-secure/contact-us']">contact us from
                        our contact us page</a>
                </div>
                <div id="passResetEmailFailed" class="alert alert-danger d-none center-cust">
                    We are sorry we were not able to send you ea email to reset your password. <br>
                    Please try again or <a [routerLink]="['/non-secure/contact-us']">contact us from
                        our contact us page</a>
                </div>
            </div>
        </form>

        <button
            type="submit"
            (click)="onSubmit()"
            class="btn btn-primary cust_skir_signup"
            [disabled]="resetPass.invalid"> Submit </button>

    </div>

</div>
