.team-section{
    max-height: 400px;
    overflow-y: scroll;
}

.team_row {
    color: white;
    opacity: 0.9;
}

::ng-deep .is_dead {
    color: #A00000;
}


::ng-deep .datatable-body-row:hover {
    cursor: pointer;
}
