
<div class="row">

    <ngx-charts-bar-horizontal-stacked
        [results]="barChartData"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true">
    </ngx-charts-bar-horizontal-stacked>

</div>

<div *ngFor="let team of teams" class="team-section">

        <div class="font_white text-xs-center" [style.background-color]="team.color">

            <h5>
                <div class="team_row font-weight-bold row padding-xs-x">
                    <div class="col "> {{team.name}} ({{team.players.length}})</div>
                    <div class="col keepRight">TOTAL: {{team.comb_score}}pts </div>
                </div>
                <div class="team_row row padding-xs-x">
                    <div class="col"> Objective Control: {{team.score}}pts </div>
                    <div class="col"> Team Members: {{team.player_score}}pts </div>
                </div>
            </h5>
        </div>

        <ngx-datatable
            style="overflow-y:scroll"
            class="material striped"
            [rows]="team.players"
            [columns]="teamScoreColumns"
            [columnMode]="'force'"
            [rowHeight]="'auto'"
            [selectionType]="'single'"
            [rowClass]="getRowClass"
            (select)="viewPlayerProfile($event)">
        </ngx-datatable>

</div>
