.team-section{
    max-height: 400px;
    overflow-y: scroll;
    margin: 10px;
}

.team_row {
    color: white;
    opacity: 0.9;
}

.is_dead {
    color: #A00000;
}

.padding-sm {
    padding: 0.5em;
}

.padding-xs-x {
    padding: 0 0.25em;
}
