
<div class="row">

    <ngx-charts-bar-horizontal-stacked
        [results]="barChartData"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true">
    </ngx-charts-bar-horizontal-stacked>

</div>

<div *ngFor="let team of teams" class="team-section">

        <div class="font_white text-xs-center" [style.background-color]="team.color">

            <h5>
                <div class="team_row font-weight-bold row row-cols-2 px-1 border-bottom">
                    <div class="col "> {{team.name}} ({{team.players.length}})</div>
                    <div class="col" align="right">TOTAL: {{team.comb_score}}pts </div>
                </div>
                <div class="team_row row px-1">
                    <div class="col" align="left"> Objective Control: {{team.score}}pts </div>
                    <div class="col" align="center"> Member Action: {{team.player_score}}pts </div>
                    <div class="col" align="right"> Deaths: {{team.player_deaths}} </div>
                </div>
            </h5>
        </div>

        <ngx-datatable
            class="material striped"
            [rows]="team.players"
            [columns]="teamScoreColumns"
            [columnMode]="'force'"
            [rowHeight]="'auto'"
            [selectionType]="'single'"
            [rowClass]="getRowClass"
            (select)="viewPlayerProfile($event)"
            >
        </ngx-datatable>

</div>
