
@import "../../../assets/libs/font-awesome-4.7.0/scss/font-awesome.scss";

.card{
    margin: 1rem 0.5rem;
    // padding: 1rem;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 0 0 1rem #A00000;
}

.card:active {
    transform: scale(0.95);
}

.map {
    height: 100%;
    width: auto;
}

.fb_share a{
    color: white !important;
}


.view-btn {
    color: white;
    background: #808080;
    border: none;
}

.center-cust{
    justify-content: center;
    text-align: center;
}


.btn-facebook {
    color: #ffffff !important;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-social:hover {
    color: #eee;
}

.btn-social :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    padding: 7px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}
