<div class="container-fluid">

        <div *ngIf="!gameID" class="row justify-content-center">

                <div *ngIf="!gameCardData.length" class="alert alert-info fade show mt-2" role="alert" align="center">
                    <h5 align="center">You just missed an awesome live game.</h5>
                    Don't worry - games pop up all the time. Check back later,
                    <div class="row">
                        <div class="col"><hr></div>
                        <div class="col-auto">or</div>
                        <div class="col"><hr></div>
                    </div>
                    <strong><a [routerLink]="['/auth/login']">login</a></strong> or <strong><a [routerLink]="['/auth/sign-up']">sign-up</a></strong>
                    to view a full history of <a [routerLink]="['/secure/past-games']"><strong>past games</strong></a>.

                </div>


            <div
                *ngFor="let gameData of gameCardData;"
                class="card user-card col-sm-3 d-flex px-1 py-1 gx-1 gy-1"
                (click)="selectActiveGame(gameData.id)"
                >

                <div class="card-header"
                     [value]="gameData.id"
                     >
                     <h5 [innerHtml]="gameData.description"></h5>
                </div>

                <div class="card-body"
                     [value]="gameData.id">

                    <p [innerHtml]="gameData.startTime"></p>

                    <div>
                        <app-map [mapID]="gameData.mapID" [deviceData]="gameData.devices" [gameID]="gameData.id"></app-map>
                    </div>

                </div>

            </div>

        </div>


    <div *ngIf="gameID">

        <div class="container ">

            <div class="col btn-group btn-group-toggle d-flex my-2 justify-content-center align-middle">

                <div class="btn fa fa-arrow-left" (click)="goBackToMainMenu()">
                </div>

                <div class="btn btn-light" [class.active]="currentTab == 'map'" (click)="changeGameTab('map')">
                C3I
                </div>

                <div class="btn btn-light" [class.active]="currentTab == 'eventsTracker'" (click)="changeGameTab('eventsTracker')">
                Events
                </div>

            <a data-href="https://play.skirmesh.net/non-secure/live-games"
               data-layout="button_count"
               data-size="small"
               target="_blank"
               href="{{fbShareUrl}}"
               class="btn btn-social btn-facebook fa fa-share">
                <i class="fa fa-facebook fa-fw"></i></a>

            </div>

        </div>


        <div *ngIf="currentTab == 'map'" class="container-fluid">

          <div class="row px-0">

            <div class="col-md-5">
            <app-map [mapID]="map" [(deviceData)]="scoreSvc.devices" [gameID]="gameID"></app-map>
            </div>

            <div class="col-md-7">
            <app-team-score [teams]="scoreSvc.teams" [barChartData]="scoreSvc.barChartData"></app-team-score>
            </div>

          </div>

        </div>



        <div *ngIf="currentTab == 'eventsTracker'" class="container" align="center">

            <h3 class="center-cust"> Event History</h3>

            <input
              type="text"
              class="form-control col-md-5 mb-2"
              placeholder="Type to filter by Callsign..."
              (keyup)="updateFilter($event)"
            />

            <ngx-datatable
                class="material striped"
                [rows]="scoreSvc.allActions"
                [columns]="scoreSvc.allActionsColumns"
                [columnMode]="'force'"
                [rowHeight]="'auto'"
                [scrollbarH]="true">
            </ngx-datatable>

        </div>

      </div>

  </div>
