<div class="container-fluid">
    <div>

        <div *ngIf="activeGame">
            <div class="btn-primary btn" (click)="goBackToMainMenu()"> Go Back </div>
        </div>

        <div *ngIf="!activeGame">

            <h2 *ngIf="!gameCardData.length"> Whaaaa!?..There are no active games? </h2>
            <h4 *ngIf="!gameCardData.length"> Check back later. Games pop up all the time! </h4>
            <div
                *ngFor="let gameData of gameCardData; let i = index"
                [value]="activeGame.id"
                class="card user-card"
                >

                <div class="card-header">

                    <div class="btn-primary btn view-btn" [value]="gameData.id" (click)="selectActiveGame($event)"> VIEW </div>

                    <h3> {{gameData.description}} </h3>
                    <h5> Game# {{gameData.id}} </h5>

                </div>

                <div class="card-body" [value]="activeGame.id">

                    <div class="form-group" [value]="activeGame.id">
                        Start: {{gameData.startTime.slice(0,12)}} {{gameData.startTime.slice(17,22)}}
                    </div>

                    <div>
                        <app-map [mapID]="gameData.mapID" [mapData]="gameData.devices"></app-map>
                    </div>

                </div>

            </div>
        </div>

    </div>




    <div *ngIf="activeGame" class="view-account" id="activeGame">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <nav class="side-menu">
                        <ul class="nav">
                            <li id="map" (click)="changeGameTab('map')" class="active"><a>Map</a></li>
                            <li id="teamScore" (click)="changeGameTab('teamScore')"><a>Team Score</a></li>
                            <li id="EventsTracker" (click)="changeGameTab('EventsTracker')"><a>Events Tracker</a></li>
                        </ul>
                    </nav>
                </div>
                <div *ngIf="currentTab == 'map'" class="content-panel" id="v-pills-home" role="tabpanel"
                    aria-labelledby="v-pills-home-tab">
                    <div class="btn-primary btn fb_share" data-href="http://play.skirmesh.net/non-secure/live-games" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fplay.skirmesh.net%2Fnon-secure%2Flive-games&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share To Facebook!</a></div>
                    <div class="pull-md-3">
                        <div>
                            <app-map [mapID]="map" [mapData]="devices"></app-map>
                        </div>
                    </div>
                </div>
                <div *ngIf="currentTab == 'teamScore'" class="card-group content-panel" id="v-pills-profile" role="tabpanel"
                    aria-labelledby="v-pills-profile-tab">


                    <div *ngFor="let team of teams" class="team-section">

                        <div class=" card-outline-success m-x-auto m-b-2">
                            <div class="cust_text text-xs-center p-y-1" [style.background-color]="team.color">
                                <h3>{{team.name}} | {{team.score}} pts</h3>

                            </div>


                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">RFID</th>
                                        <th scope="col">Last Action</th>
                                        <th scope="col">Last Location</th>
                                        <th scope="col">Total Points</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let player of team.players">
                                        <th scope="row">
                                            <div class="text">
                                                <a *ngIf=player.is_alive style="color: #00A000;">{{player.name}}</a>
                                                <a *ngIf=!player.is_alive style="color: #A00000;">{{player.name}}</a>
                                            </div>
                                        </th>
                                        <td>
                                            <ngb-highlight>{{player.lastAction}}
                                            </ngb-highlight>
                                        </td>
                                        <td>
                                            <ngb-highlight>{{player.lastLocation}}</ngb-highlight>
                                        </td>
                                        <td>
                                            <ngb-highlight>{{player.totalPoints}}</ngb-highlight>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div *ngIf="currentTab == 'EventsTracker'" class="content-panel" id="v-pills-settings" role="tabpanel"
                    aria-labelledby="v-pills-settings-tab">
                    <h3 class="center-cust"> Event List</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Team</th>
                                <th scope="col">Player</th>
                                <th scope="col">Action</th>
                                <th scope="col">Location</th>
                                <th scope="col">Points</th>
                                <th scope="col">Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let action of allActions">
                                <th scope="row">
                                    <ngb-highlight>{{action.team}}</ngb-highlight>
                                </th>
                                <td>
                                    <ngb-highlight>{{action.name}}</ngb-highlight>
                                </td>
                                <td>
                                    <ngb-highlight>{{action.action}}</ngb-highlight>
                                </td>
                                <td>
                                    <ngb-highlight>{{action.location}}</ngb-highlight>
                                </td>
                                <td>
                                    <ngb-highlight>{{action.points}}</ngb-highlight>
                                </td>
                                <td >
                                    <ngb-highlight>{{action.timestamp.toLocaleString('en-US', {hourCycle:"h24"})}}</ngb-highlight>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </section>
        <div class="row">



        </div>

    </div>

</div>
