<div class="container-fluid">

        <div *ngIf="!activeGame" class="row">

            <h5 *ngIf="!gameCardData.length"> Check back later. Games pop up all the time! </h5>

            <div
                *ngFor="let gameData of gameCardData;"
                class="card user-card col-sm-3 d-flex px-1 py-1 gx-1 gy-1"
                >

                <div class="card-header"
                     [value]="gameData.id"
                     (click)="selectActiveGame(gameData.id)"
                     >
                     <h5 [innerHtml]="gameData.description"></h5>
                </div>

                <div class="card-body"
                     [value]="gameData.id"
                     (click)="selectActiveGame(gameData.id)">

                    <p [innerHtml]="gameData.startTime"></p>

                    <div>
                        <app-map [mapID]="gameData.mapID" [deviceData]="gameData.devices" [gameID]="gameData.id"></app-map>
                    </div>

                </div>

            </div>

        </div>


    <div *ngIf="activeGame" class="view-account" id="activeGame">

            <!-- <div class="module-inner"> -->
                <!-- <div class="side-bar float-center"> -->
                    <!-- <nav class="side-menu"> -->
                    <div class="container ">

                        <div class="col btn-group btn-group-toggle d-flex justify-content-center align-middle">

                            <div class="btn fa fa-arrow-left" (click)="goBackToMainMenu()">
                            </div>

                            <div class="btn btn-light active" id="map" (click)="changeGameTab('map')">
                            C3I
                            </div>

                            <div class="btn btn-light" id="eventsTracker" (click)="changeGameTab('eventsTracker')">
                            Events
                            </div>

                        <a data-href="https://play.skirmesh.net/non-secure/live-games"
                           data-layout="button_count"
                           data-size="small"
                           target="_blank"
                           href="{{fbShareUrl}}"
                           class="btn btn-social btn-facebook fa fa-share">
                            <i class="fa fa-facebook fa-fw"></i></a>

                      </div>

                    </div>

                    <!-- </nav> -->
                <!-- </div> -->

                <div *ngIf="currentTab == 'map'" class="content-panel" id="v-pills-home" role="tabpanel"
                    aria-labelledby="v-pills-home-tab">



                    <div class="container">
                      <div class="row">

                        <div class="col-md-6">
                        <app-map [mapID]="map" [(deviceData)]="scoreSvc.devices"></app-map>
                        </div>

                        <div class="col-md-6">
                        <app-team-score [teams]="scoreSvc.teams" [barChartData]="scoreSvc.barChartData"></app-team-score>
                        </div>

                      </div>
                    </div>

                </div>


                <div *ngIf="currentTab == 'eventsTracker'" class="content-panel" id="v-pills-settings" role="tabpanel"
                    aria-labelledby="v-pills-settings-tab">

                    <h3 class="center-cust"> Event History</h3>

                    <input
                      type="text"
                      class="form-control"
                      style="padding:8px;margin:15px auto;width:30%;"
                      placeholder="Type to filter by Callsign..."
                      (keyup)="updateFilter($event)"
                    />

                    <ngx-datatable
                        class="material striped"
                        [rows]="scoreSvc.allActions"
                        [columns]="scoreSvc.allActionsColumns"
                        [columnMode]="'standard'"
                        [rowHeight]="'auto'"
                        [scrollbarH]="true">
                    </ngx-datatable>

                </div>
            <!-- </div> -->


      </div>

  </div>
