<div class="container-fluid">
    <div>

        <div *ngIf="activeGame">
            <div class="btn-primary btn" (click)="goBackToMainMenu()"> Go Back </div>
        </div>

        <div *ngIf="!activeGame">

            <h3 *ngIf="!gameCardData.length"> Whaaaa!?..There are no active games? </h3>
            <h5 *ngIf="!gameCardData.length"> Check back later. Games pop up all the time! </h5>
            <div
                *ngFor="let gameData of gameCardData;"
                class="card user-card"
                >

                <div class="card-header">

                    <h5 class="col btn-primary btn view-btn" [value]="gameData.id" (click)="selectActiveGame($event)"> {{gameData.description}} </h5>

                </div>

                <div class="card-body">

                    <p>
                        Start: {{gameData.startTime}}
                    </p>

                    <div>
                        <app-map [mapID]="gameData.mapID" [deviceData]="gameData.devices" [gameID]="gameData.id"></app-map>
                    </div>

                </div>

            </div>
        </div>

    </div>



    <div *ngIf="activeGame" class="view-account" id="activeGame">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <nav class="side-menu">
                        <ul class="nav">
                            <li id="map" (click)="changeGameTab('map')" class="active"><a>Map</a></li>
                            <li id="teamScore" (click)="changeGameTab('teamScore')"><a>Team Score</a></li>
                            <li id="EventsTracker" (click)="changeGameTab('EventsTracker')"><a>Events Tracker</a></li>
                        </ul>
                    </nav>
                </div>

                <div *ngIf="currentTab == 'map'" class="content-panel" id="v-pills-home" role="tabpanel"
                    aria-labelledby="v-pills-home-tab">

                    <a data-href="https://play.skirmesh.net/non-secure/live-games"
                       data-layout="button_count"
                       data-size="small"
                       target="_blank"
                       href="{{fbShareUrl}}"
                       class="btn btn-md btn-social btn-facebook">
                        <i class="fa fa-facebook fa-fw"> </i> Share!
                    </a>

                    <app-map [mapID]="map" [(deviceData)]="devices"></app-map>


                </div>

                <div *ngIf="currentTab == 'teamScore'" class="content-panel" id="v-pills-profile" role="tabpanel"
                    aria-labelledby="v-pills-profile-tab">

                    <div class="row">

                        <ngx-charts-bar-horizontal-stacked
                            [results]="barChartData"
                            [xAxis]="true"
                            [yAxis]="true"
                            [legend]="true">
                        </ngx-charts-bar-horizontal-stacked>

                    </div>

                    <div *ngFor="let team of teams" class="team-section">

                            <div class="font_white text-xs-center" [style.background-color]="team.color">

                                <h3>
                                    <div class="team_row row padding-xs-x">
                                        <div class="col"> {{team.name}}</div>
                                        <div class="col keepRight">TOTAL: {{team.comb_score}}pts </div>
                                    </div>
                                    <div class="team_row row padding-xs-x">
                                        <div class="col"> Objective Control: {{team.score}}pts </div>
                                        <div class="col"> Team Members: {{team.player_score}}pts </div>
                                    </div>
                                </h3>
                            </div>

                            <ngx-datatable
                                style="overflow-y:scroll"
                                class="material striped"
                                [rows]="team.players"
                                [columns]="teamScoreColumns"
                                [columnMode]="'force'"
                                [rowHeight]="'auto'"
                                [rowClass]="getRowClass">
                            </ngx-datatable>

                    </div>

                </div>


                <div *ngIf="currentTab == 'EventsTracker'" class="content-panel" id="v-pills-settings" role="tabpanel"
                    aria-labelledby="v-pills-settings-tab">

                    <h3 class="center-cust"> Event History</h3>

                    <ngx-datatable
                        class="material striped"
                        [rows]="allActions"
                        [columns]="allActionsColumns"
                        [columnMode]="'standard'"
                        [rowHeight]="'auto'"
                        [scrollbarH]="true">
                    </ngx-datatable>

                </div>
            </div>

        </section>
        <div class="row">



        </div>

    </div>

</div>
