{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="../static/css/about.css" charset="utf-8" />

	<div class="container">
		<p> SkirMesh is poised to revolutionize the game of Airsoft through mesh
			networking and RFID technology. Uniquely leveraging desired attributes of each,
			the airsoft field becomes a dynamic and interactive experience on and off the field.
		</p>
		<!-- <p> Three main components comprise the SkirMesh System: </p>
		<ul>
			<li> The node </li>
			<li> The Controller </li>
			<li> The Web </li>
		</ul>
		<p> These three components are described below </p> -->


		<h3> The node </h3>
		<img class="node_img" src="../static/img/node.jpg" alt="NODE" >
		<p>
			The node is the foundation of the system and permits player interaction.
			Dozens can populate the field and take on different functions to allow the
			battlefield architect to design complex, dynamic gameplay scenarios. More
			nodes means higher fidelity control over every underlying gameplay mechanic.
		</p>

		<p> Interacations are made possible with RFID tags or wristbands. Each RFID tag possesses
			a Unique Identifier (UID) to uniquely identify who interacted with the node. Information
			gathered by the node is passed to the controller and certain interactions (such as captures or assists) may
			be awarded points.
    	</p>

		<!-- <h3> node - Physical Description </h3>
		<p> At its core The node consists of 4 sub-systems </p>
		<ul>
			<li> RFID Reader - sub-system </li>
			<li> Player Feedback - sub-system </li>
			<li> Communications  - sub-system</li>
			<li> Power </li>
		</ul> -->

		<!-- <h4> RFID Reader - Sub-System </h4>
		<p> The RFID reader is what allows the SkirMesh System to interact with and identify players. The node
                    will provide an audible beep to indicate that the RFID tag has been read. Because the individual node "knows"
                    very little about the overall game the RFID reader pulls the UID value from the player's RFID tag and
                    transmits that back to the Controller for instrucitons on how to handle that interaction.

		<h4> Player Feedback - Sub-System </h4>
		<p> The Player Feedback sub-system consists of 5 RGB LEDs and an audible buzzer. Based on The node's configuration
                    the RGB patterns change to indicate the status of the node. These patterns will be describe more in-depth under
                    node Configuration Settings.
		</p>

		<h4> Communications Sub-System </h4>
		<p> The Communcations sub-system is what allows the individual node to communicate back to the Controller
                    to ask for instructions on how to handle player interactions and ultimately post information to the internet
                    to display player achievements on the field.
		</p>
		<p> The communications sub-system forms a mesh network (SkirMesh, get it!) between all neighboring nodes. This not
                    not only improves the robustness of the network but also enhances the size of the playing area the SkirMesh System
                    can be deployed on. As long as an idividual node can communicate with a node that has a link to the Controller
                    communications will be un-interrupted.
		</p>
		<p> To ensure that the game overall remains syncronized the individual node makes very few decisions on its own. Instead,
                    all player interactions (scanned RFID tags) are transmitted back to the Controller for instructions. This ensures
                    absolute data integrity and accurate player accomplishment tracking.
		</p>

		<h4> Power </h4>
		<p> All electronics require power and with airsoft fields being our target audience we made the decision to have each node powered
                    by any standard AEG battery pack. If you can put it in the buttstock of your AEG and it has a mini-Tamiya connector it can power
                    a node.
		</p> -->

		<h3> node Interaction </h3>
		<!-- <p> A lot has been said interacting with the SkirMesh System so let us take a quick moment to show you
        what that looks like.
		</p> -->

		<p> Interaction with the node is simple. Each issued RFID tag or wristband, when presented within 1 inch of
			the area marked with glow-in-the-dark tape will be acknowledged by the node. Acknowledgement may
			be in the form of flashing lights, chirping sounds, or both.
		</p>

		<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="133mm"
   height="123mm"
   viewBox="0 0 133 123"
   version="1.1"
   id="node"
	 class="node"
   inkscape:version="0.92.5 (2060ec1f9f, 2020-04-08)"
   sodipodi:docname="box.svg">
  <defs
     id="defs2" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="1.0150843"
     inkscape:cx="9.9397969"
     inkscape:cy="325.0226"
     inkscape:document-units="mm"
     inkscape:current-layer="layer1"
     inkscape:document-rotation="0"
     showgrid="false"
     inkscape:window-width="1920"
     inkscape:window-height="977"
     inkscape:window-x="0"
     inkscape:window-y="23"
     inkscape:window-maximized="0" />
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1">
    <rect
       style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:1;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect833"
       width="131.48903"
       height="76.137123"
       x="0.95101351"
       y="45.951725" />
    <rect
       style="fill:#d3ffb9;fill-opacity:1;stroke:#ffffff;stroke-width:1;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="scanner"
       width="36.60004"
       height="26.207436"
       x="23.374182"
       y="62.670265" />
    <ellipse
       id="LED0"
			 class="LED"
       cx="71.157562"
       cy="86.16658"
       rx="2.598151"
       ry="2.7111142" />
    <ellipse
       id="LED1"
			 class="LED"
       cx="80.222847"
       cy="86.16658"
       rx="2.598151"
       ry="2.7111142"/>
    <ellipse
       id="LED2"
			 class="LED"
       cx="89.288147"
       cy="86.166588"
       rx="2.598151"
       ry="2.7111142" />
    <ellipse
       id="LED3"
			 class="LED"
       cx="98.353432"
       cy="86.166588"
       rx="2.598151"
       ry="2.7111142" />
    <ellipse
       id="LED4"
			 class="LED"
       cx="107.41872"
       cy="86.166588"
       rx="2.598151"
       ry="2.7111142" />
    <ellipse
       style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:1;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="path837-4"
       cx="107.41872"
       cy="78.033241"
       rx="2.598151"
       ry="2.7111142" />
    <ellipse
       style="fill:#dcdcdc;fill-opacity:1;stroke:#505050;stroke-width:0.2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="path903"
       cx="25.972336"
       cy="47.533211"
       rx="1.6944462"
       ry="1.5814831" />
    <ellipse
       style="fill:#dcdcdc;fill-opacity:1;stroke:#505050;stroke-width:0.2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="path903-5"
       cx="2.645462"
       cy="83.737885"
       rx="1.6944462"
       ry="1.5814831" />
    <ellipse
       style="fill:#dcdcdc;fill-opacity:1;stroke:#505050;stroke-width:0.2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="path903-4"
       cx="25.972336"
       cy="120.50736"
       rx="1.6944462"
       ry="1.5814831" />
    <ellipse
       style="fill:#dcdcdc;fill-opacity:1;stroke:#505050;stroke-width:0.2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="path903-9"
       cx="111.85253"
       cy="47.533211"
       rx="1.6944462"
       ry="1.5814831" />
    <ellipse
       style="fill:#dcdcdc;fill-opacity:1;stroke:#505050;stroke-width:0.2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="path903-5-1"
       cx="130.74559"
       cy="83.511955"
       rx="1.6944462"
       ry="1.5814831" />
    <ellipse
       style="fill:#dcdcdc;fill-opacity:1;stroke:#505050;stroke-width:0.2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="path903-4-7"
       cx="111.85253"
       cy="120.50736"
       rx="1.6944462"
       ry="1.5814831" />
    <path
       style="fill:#000000"
       d="m 67.48627,46.403576 v -4.292597 l 39.76301,-40.8926364 4.29259,-0.90370502 1.80741,1.58148402 -0.67778,2.93704 -39.53707,39.3111534 -2.25927,0.451853 v 2.033336 z"
       id="path987" />
  </g>
  <metadata
     id="metadata1440">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:title />
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
      </cc:Work>
    </rdf:RDF>
  </metadata>
		</svg>

		<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="54mm"
   height="65mm"
   viewBox="0 0 54 65"
   version="1.1"
   id="band"
   class="band"
   inkscape:version="1.0.2 (e86c8708, 2021-01-15)"
   sodipodi:docname="band.svg">
  <defs
     id="defs839" />
  <sodipodi:namedview
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1"
     objecttolerance="10"
     gridtolerance="10"
     guidetolerance="10"
     inkscape:pageopacity="0"
     inkscape:pageshadow="2"
     inkscape:window-width="1354"
     inkscape:window-height="976"
     id="namedview837"
     showgrid="false"
     inkscape:zoom="0.74208053"
     inkscape:cx="396.85039"
     inkscape:cy="406.29014"
     inkscape:window-x="0"
     inkscape:window-y="23"
     inkscape:window-maximized="0"
     inkscape:current-layer="svg8" />
  <ellipse
     style="fill:#660000;stroke:none"
     cx="-1.5398383"
     cy="36.798351"
     rx="15.368926"
     ry="14.790689"
     transform="matrix(0.84391193,-0.53648174,0.45787278,0.88901773,0,0)"
     id="ellipse833" />
  <path
     id="path1426-0"
     style="fill:#650000"
     d="M 31.13418,63.626512 A 20.189808,31.638904 2.8687161 0 0 52.86786,33.037002 20.189808,31.638904 2.8687161 0 0 34.28663,0.42728858 20.189808,31.638904 2.8687161 0 0 27.72281,1.7784175 20.189808,31.638904 2.8687161 0 1 38.88197,31.719926 a 20.189808,31.638904 2.8687161 0 1 -15.1848,29.237126 20.189808,31.638904 2.8687161 0 0 7.42256,2.66874 20.189808,31.638904 2.8687161 0 0 0.0145,7.2e-4 z M 27.72284,1.7784175 A 20.189808,31.638904 0 0 0 7.5473301,33.417314 20.189808,31.638904 0 0 0 27.73731,65.056212 20.189808,31.638904 0 0 0 34.22529,63.378272 20.189808,31.638904 0 0 1 21.58161,34.032779 20.189808,31.638904 0 0 1 35.28413,4.0723335 a 20.189808,31.638904 0 0 0 -7.54682,-2.293916 20.189808,31.638904 0 0 0 -0.0145,0 z" />
  <metadata
     id="metadata1442">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
		</svg>

		<h3> node Configurations </h3>
		<p> nodes can be configured to serve different purposes based on the game play requirements. These include:</p>
		<ul>
			<li> Control Points </li>
			<li> Respawn Stations </li>
			<li> Bombs / IEDs </li>
			<li> Team Registration </li>
			<li> Team Query </li>
			<li> UID Registration </li>
		</ul>

		<h4> Control Point </h4>

		<p> Control point is the core function of the node. We set out to remove confusion
        and disputes that often occur in control point style games. This function allows also
        areas of the airsoft field to be directly mapped to the node. If your team doesn't own the node for that
        territory then your team doesn't own that territory.
		</p>

		<p> The node displays the assigned color of the team that owns it with its 5 RGB LEDs. Additionally, you can
        checkout the field map and see the color of the territory for the node in question to determine the owner.
		</p>

		<h4> Capturing a Control Point </h4>

		<p> Here is a scenario on how to capture a Control Point. Lets say you are assigned to RED team, you and your
        squad approaches a node. It displays 5 BLUE RGBs (it is owned by BLUE team). In order to take it over
        swipe your RFID tag over the designated area. You will hear short "beep" and then one of 2 things will happen
        based on the setting for the control points for the game:
		</p>

		<ul>
			<li> <b>Scenario One</b>: If the control points have been configured for immediate capture the lights will all
			     immediately go RED indicating your team now owns the node and associated territory. </li>
			<br>
			<li> <b>Scenario Two</b>: Control Points have been configured for a delayed capture. In this scenario all RGBs will
           start to blink in the color of the original owning team. As time towards the delayed capture counts down the
           RGBs will start to turn solid RED, which represents your progress toward completing capture. Each RGB indicates 1/5
           of the total capture time, so dig in - your mission isn't accomplished until all RGBs are the color of your
           team.</li>
		</ul>

		<p> For scenario 2, the entire time the RGBs are blink, the node is considered unstable. If BLUE team is
        able to eliminate your squad, they are able to recapture the node before RED team is awarded the capture.
        However, they must  hold the Control Point for the amount of time RED had it in their control. For example,
        capture time is set for 60 seconds. RED begins the capture and holds it for 36 seconds (The node will display
        3 RED RGBs and 2 BLUE RGBs, 36/60 = 3/5). BLUE eliminates all RED players and scans one of their RFID tags, BLUE
        will now how to hold that control point for 36 seconds before it becomes stable and fully in BLUE teams possession.
		</p>

		<p> To reward players for working as a team we have included a capture assist function. Based on the value of this setting
        it allows multiple members of the same time to contribute toward the capture of a control point. Once capture of a control
        point has started, each subsequent team member that swipes their RFID tag on the unstable node will reduce the total capture
        by a fraction of the total capture time.
		</p>

		<p> Example: Capture time  = 60 seconds, Capture Assist = 50%. First player initiates capture, timer starts. 10 seconds into the
        capture another player from the same team swipes their RFID tag on the unstable node. Capture time has now been reduced by 30
        seconds resulting in a total time remaining of 20 seconds (60 - 10 - 30 = 20)
		</p>

     <p> This same behavior also works for a team trying to recapture a control point </p>

		<h4> Respawn Stations </h4>
		<p> Respawn Stations are really just an extension of the control point configuration. Based on game requirements
            certain control points can also serve as respawn stations, which allows certain control points to posses
            greater tactical value to team commanders as players will not have to travel to a respawn spawn station
            on the other side of the field.
		</p>

		<p> Here is how the respawn mechanic works. After being elminated, you would return to the nearest control point that
            also serves as a respawn station. You will then hold your RFID tag over the node until all RGBs flash red.
            By doing that you have just deactivated your RFID tag from interacting with any other non respawn station nodes and
            the Controller is currently tracking you as "dead". <b> THIS IS IMPORTANT PLEASE KEEP READING! </b> In order to get
            your tag reactivated you need to wait for the cool down timer timer to elapse. You can check the status of this timer
            by holding your RFID tag over the node to see how many red lights appear. Again each red RGB indicates 1/5
            the total time toward the cool down being completed. Only when all 5 RGBs flash green is
            your RFID tag re-activated and able to interact with other nodes on the field.
		</p>

		<h4> Bombs / IEDs </h4>
		<p> When configured as a Bomb/IED players are able to arm or disarm them by swiping their RFID tag.
            The arming, fuse, and difusing times are all configurable by the controller.

		<h4> Arming </h4>
		<p> To arm the bomb, the player would hold their RFID band over the node for the duration of time set
            by the arming parameter.  As the player holds their RFID band over the node, the RGBs will start to
            turn orange again following the 1/5 rule explained above. Once all RBGs turn orange they will immediately
            all turn red and flash periodiclly to indicate the bomb is armed. The red RGBs will turn on 1 by 1 based on total time remaining.
            Onces all RGBs are turned on, the bomb will <b> "EXPLODE!" </b> The node will flash all 5 RGBs red and the
            siren will give off a continuous and extremely annoying tone. Power cycling the node is the only way
            to reset the bomb.
		</p>

		<h4> Disarming </h4>
		<p> Disarming follows the same method as above. However, the node does not give feedback on the amount of
			of time is left to disarming is complete. Knowing what the disarm time is and looking at the lights remaining
			is the only way of knowing if you will be successful in disarming or become collateral damage.
		</p>

		<h4> Team Registration </h4>
		<p> Airsoft is a team sport and the Team Registration functionality allows the SkirMesh System to assign players
            and their associated UID to a team. The to identify a node that is in the team register mode it will have
            2 RGBs illuminated the color of the team that they will assign the player to.
        </p>
		<p> To assign yourself to a team, find the node that displays your team color and swipe your RFID tag. The node
            will provide a short beep indicating successful assignment to that team. Thats it!
        </p>
		<p> Keep in mind, all SkirMesh game modes require a player to be part of a team. If you are unsure if
            your RFID tag is associated with a team either re-register or find a Team Query node(explained below).
		</p>

		<h4> Team Query </h4>
		<p> A team query node has just the single white LED illuminated. When you swipe your RFID tag, it will display
            your team color on the first 2 RGBs and the last RGB will be green if you are being tracked as "alive" or red
            if "dead."
		</p>

	</div>

	<script src="static/js/script.js">

{% endblock %}
