<!DOCTYPE html>
<html>
<script src="../static/js/script.js"></script>


<link rel="icon" href="../static/img/logo.ico">
<link rel="stylesheet" type="text/css" href="../static/css/main.css">
<link rel="stylesheet" type="text/css" href="../static/css/fonts.css" charset="utf-8" />
<link rel="stylesheet" type="text/css" href="../static/css/particles.css" charset="utf-8" />

<head>

  <title> SkirMesh </title>
  <meta charset="UTF-8">
  <meta name={{ author }}
        content="Results earned here.">

</head>


<header class="glow">
    <div id="particles-js"></div>

    <bold style="font-size:110%; font-family:'libre_barcode_39_extended_tRg';">SkirMesh</bold>
    <br>
    <emph style="font-family:'special_eliteregular';">battlefield</emph>
</header>



<body>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class={{ "error" if error else "success"}} role="alert">
            <p style="text-align: center;">
                <span style="font-size: 110%;">
                    <strong>{{ message }}</strong>
                </span>
            </p>
        </div>
      {% endfor %}
      <br>
    {% endif %}
  {% endwith %}

  <center>
      {% block content %}
      {% endblock %}
  </center>

</body>

<br>

<center>

    <footer style="align:center;">
        &copy; Copyright 2020 - 2021 SkirMesh
    </footer>

</center>

<script src="../static/js/particles.js"></script>
<script src="../static/js/particle_app.js"></script>

</html>
