<!DOCTYPE html>
<html>
<script src="../static/js/script.js"></script>

<link rel="icon" href="../static/img/logo.ico">
<link rel="stylesheet" type="text/css" href="../static/css/main.css">

<head>

  <title> Battlefield Gaming Systems </title>
  <meta charset="UTF-8">
  <meta name={{ author }}
        content="Results earned here.">

</head>

<header>
    <bold> <em style="font-size:110%; text-transform: uppercase"> Battlefield Gaming <br> Systems </em> </bold>

</header>

<br>

    <ul id="main-nav">
        <li><a href="/index">Home</a></li>
        <li><a href="/players">Leaderboard</a></li>
        <li><a href="/user_reg">User Registration</a></li>
        <li><a href="/node_admin">Node Admin</a></li>
        <li><a href="/comms">Comms Log</a></li>
    </ul>

<br>

<body>
  <h2> We manage your stats, so you can get back to things that matter. </h2>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <h1 class="error messages" role="alert"> {{ message }} </h1>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <center> {% block content %}{% endblock %} </center>
</body>

<br>

<center>
    <footer style="align:center;">
        &copy; Copyright 2019
        <script>new Date().getFullYear()>2019&&document.write("- " + new Date().getFullYear());</script>
        Battlefield Gaming Systems

        <br> <br>

        <a href="https://www.ballahackairsoft.com">
        <img src="{{ url_for('static', filename='img/logo.png') }}"
             style="max-width: 15%; padding:2em;"
             align="middle">
        </a>

        <a href="https://www.youtube.com/channel/UCB74I2EiE5dC0CAeDXbBjfA">
        <img src="{{ url_for('static', filename='img/ss.png') }}"
             style="max-width: 15%; padding:2em;"
             align="middle">
        </a>

    </footer>
</center>

</html>
