{% extends "base.html" %}

{% block content %}

<div style="display:inline-block; width:100%;">
<input type="text"
       id="mbr_search"
       onkeyup="search(event)"
       placeholder="search...">
</input>
</div>

<div class="table-wrapper">
  <table id="table">
    <thead>
      <tr>
          {% for col in cols_data %}
            <th class="header"> {{col | safe}} </th>
          {% endfor %}
      </tr>
    </thead>
    <tbody>
        {% for dat in data_data %}
        <tr class="row">
            {% for col in cols_data %}
                {% if col == 'timestamp' %}
                <td> {{ datetime.strptime(dat[col], time_fmt).strftime(time_disp) }}
                {% else %}
                <td> {{ dat[col] | safe }} </td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
