{% extends "base.html" %}

{% block content %}

<script src="../static/js/field_update.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/field_wrapper.css" charset="utf-8" />

<div id="tooltip" display="none" style="position: absolute; display: none;"></div>


<div class="grid_container">

<div class="grid_element roster">

    {% for team in teams[0::2] %}

        <table id="table">
        <thead>
          <tr>
                <th class="header"> {{team_name[team] | safe}} ({{team_data[team] | length}}) <br/> {{ team_score[team] | safe }}pts</th>
          </tr>
        </thead>
        <tbody>
            {% for mbr in team_data[team] %}
            <tr class="row" id=team{{team | safe}}>

                <td class="roster_element"> {{ mbr.player.callsign if mbr.player else mbr.uid | safe }} </td>

            </tr>
            {% endfor %}
        </tbody>
        </table>

        <style>
        #team{{team | safe}}:hover {background-color: #{{ team | safe }}}
        </style>

    {% endfor %}

</div>

<div class="grid_element middle">
    <div class="beacon-container">

        {% block SVG %}
        {% endblock %}

    </div>
</div>

<div class="grid_element roster">

    {% for team in teams[1::2] %}

    <table id="table">
    <thead>
      <tr>
            <th class="header"> {{team_name[team] | safe}} ({{team_data[team] | length}}) <br/> {{ team_score[team] | safe }}pts</th>
      </tr>
    </thead>
    <tbody>
        {% for mbr in team_data[team] %}
        <tr class="row" id=team{{team | safe}}>

            <td class="roster_element"> {{ mbr.player.callsign if mbr.player else mbr.uid | safe }} </td>

        </tr>
        {% endfor %}
    </tbody>
    </table>

    <style>
    #team{{team | safe}}:hover {background-color: #{{ team | safe }}}
    </style>

{% endfor %}

</div>

</div>

<script src="../static/js/field_wrapper.js"></script>

{% endblock %}
