{% extends "base.html" %}

{% block content %}

<script type="text/javascript">

  setInterval(

    function(){

    fetch('/index/is_change',  {
                                method: "GET",
                                cache: "no-cache",
                               })
        .then(function (response) {
            return response.json();
        }).then(function (data) {

            for (var node in data) {

                var ele = document.getElementById(data[node].id);

                if (data[node].stable && ele){

                    ele.setAttribute("fill", data[node].color);
                    ele.setAttribute("opacity", "0.5");
                    ele.setAttribute("class", "owned");
                }
                else{
                    ele.setAttribute("fill", data[node].color);
                    ele.setAttribute("class", "beacon");
                }

            }
        });
      },

    1000); // Happen every 5 seconds (5000 milliseconds)

</script>

<div class="grid_container">

<div class="grid_element">

    {% for team in teams[0::2] %}
    {% set team_i = reg_teams[(loop.index-1)*2] %}

        <table id="table">
        <thead>
          <tr>
                <th class="header"> {{team_name[team_i] | safe}} Team ({{team | length}})</th>
          </tr>
        </thead>
        <tbody>
            {% for dat in team %}
            <tr class="row">
                {% for col in team_col %}
                    <td class="team{{team_i | safe}}"> {{ players[dat[col]]['lname'] if dat[col] in players else dat[col] | safe }} </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
        </table>

    {% endfor %}

</div>

<div class="grid_element middle">
    <div class="beacon-container">

        {% block SVG %}
        {% endblock %}

    </div>
</div>

<div class="grid_element">

    {% for team in teams[1::2] %}
    {% set team_i = reg_teams[loop.index*2 - 1] %}

        <table id="table">
        <thead>
          <tr>
              <th class="header"> {{team_name[team_i] | safe}} Team ({{team | length}})</th>
          </tr>
        </thead>
        <tbody>
            {% for dat in team %}
            <tr class="row">
                {% for col in team_col %}
                    <td class="team{{team_i | safe}}"> {{ players[dat[col]]['lname'] if dat[col] in players else dat[col] | safe }} </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
        </table>

    {% endfor %}

</div>

</div>

<script type=text/javascript src="{{ url_for('static', filename='js/script.js') }}"></script>

{% endblock %}
