{% extends "base.html" %}

{% block content %}

<script src="../static/js/field_update.js"></script>

<div class="grid_container">

<div class="grid_element roster">

    {% for team in teams[0::2] %}
    {% set team_i = reg_teams[(loop.index-1)*2] %}

        <table id="table">
        <thead>
          <tr>
                <th class="header"> {{team_name[team_i] | safe}} ({{team | length}})</th>
          </tr>
        </thead>
        <tbody>
            {% for mbr in team %}
            <tr class="row team{{team_i | safe}}">

                <td class="roster_element"> {{ players[mbr] if mbr in players else mbr | safe }} </td>

            </tr>
            {% endfor %}
        </tbody>
        </table>

    {% endfor %}

</div>

<div class="grid_element middle">
    <div class="beacon-container">

        {% block SVG %}
        {% endblock %}

    </div>
</div>

<div class="grid_element roster">

    {% for team in teams[1::2] %}
    {% set team_i = reg_teams[loop.index*2 - 1] %}

        <table id="table">
        <thead>
          <tr>
              <th class="header"> {{team_name[team_i] | safe}} ({{team | length}})</th>
          </tr>
        </thead>
        <tbody>
            {% for mbr in team %}
            <tr class="row team{{team_i | safe}}">

                <td class="roster_element"> {{ players[mbr] if mbr in players else mbr | safe }} </td>

            </tr>
            {% endfor %}
        </tbody>
        </table>

    {% endfor %}

</div>

</div>

<script type=text/javascript src="{{ url_for('static', filename='js/script.js') }}"></script>

{% endblock %}
