{% extends "base.html" %}

{% block content %}


<link rel="stylesheet" type="text/css" href="../static/css/leaderboard.css" charset="utf-8" />

<div id="tooltip" display="none" style="position: absolute; display: none;"></div>


<div style="display:inline-block; width:100%;">
<input type="text"
       id="mbr_search"
       onkeyup="search(event)"
       placeholder="search...">
</input>
</div>

<ul class="tab" id="main-nav">
  <li onclick="show_table(event, 'team_score')" id="defaultOpen"><a class="tablink">Team Score</a></li>
  <li onclick="show_table(event, 'location_score')"><a class="tablink" >Location Stats</a></li>
  <li onclick="show_table(event, 'player_score')"><a class="tablink" >Player Score</a></li>
</ul>


<div id="team_score" class="leaderboard">
  <h1 class="leaderboard_header"> team leaderboard </h1>
  <br>

  <div class="team_score_container">

        {% set tot = {'score':0, 'time':0} %}

        {% for team in team_score %}

            {% if tot.update({'score': tot['score'] + team_score[team]}) %} {% endif %}

        {% endfor %}

        {% for team in team_times %}

            {% if tot.update({'time': tot['time'] + team_times[team]}) %} {% endif %}

        {% endfor %}

        {% set rad = 80 %}
        {% set circ = rad * 2 * 3.14159 %}

        {% set stroke_w = rad / 4 %}
        {% set from = namespace(value=0) %}

            <svg width="49%" class="score">

            {% for team in team_score %}

            {% set text = team_score[team] %}

            {% if text %}

            {% set to = from.value + circ*team_score[team]/tot['score'] %}

              <circle class="capture" cx="50%" cy="50%" r="{{ rad }}"
                      onmousemove="showTooltip(evt, {{ text | safe }} )"
                      onmouseout="hideTooltip()">
                  <set attributeName='stroke-width' to="{{ stroke_w }}"/>
                  <set attributeName='stroke' to="{{ team_cmap[team] }}"/>
                  <set attributeName='stroke' from="{{ team_cmap[team] }}" to="#C0C0C0" begin="mouseover" end="mouseout"/>
                  <set attributeName='stroke-dashoffset' to="{{ from.value }}"/>
                  <set attributeName='stroke-dasharray' to="{{ circ }} {{ to }}"/>
              </circle>

            {% set from.value = to %}

            {% endif %}

            {% endfor %}
            <text x="50%" y="52.5%" text-anchor="middle"> POINTS </text>

            </svg>

            <svg width="49%" class="score">

            {% set from.value = 0 %}

            {% for team in team_times %}

            {% set text = print_time( team_times[team] ) %}

            {% if text %}

            {% set to = from.value + circ*team_times[team]/tot['time'] %}

            <circle class="capture" cx="50%" cy="50%" r="{{ rad }}"
                    onmousemove="showTooltip(evt, '{{ text | safe }}' )"
                    onmouseout="hideTooltip()">
                  <set attributeName='stroke-width' to="{{ stroke_w }}"/>
                  <set attributeName='stroke' to="{{ team_cmap[team] }}"/>
                  <set attributeName='stroke' from="{{ team_cmap[team] }}" to="#C0C0C0" begin="mouseover" end="mouseout"/>
                  <set attributeName='stroke-dashoffset' to="{{ from.value }}"/>
                  <set attributeName='stroke-dasharray' to="{{ circ }} {{ to }}"/>
              </circle>

            {% set from.value = to %}

            {% endif %}

            {% endfor %}
            <text x="50%" y="52.5%" text-anchor="middle"> TIME </text>

            </svg>

    </div>
</div>

<div id="location_score" class="leaderboard">
    <h1 class="leaderboard_header"> objective leaderboard </h1>
    <br>

<div class="node_score_container">

{% for nd in node_times %}

    {% set tot = {'time':0} %}

    {% for team in node_times[nd] %}

        {% if tot.update({'time': tot['time'] + node_times[nd][team]}) %} {% endif %}

    {% endfor %}

    {% if tot['time'] %}

    <svg width="33%" class="score">

    {% set from.value = 0 %}

        {% for team in node_times[nd] %}

            {% set text = print_time( node_times[nd][team] ) %}

            {% if text %}

            {% set to = from.value + circ*node_times[nd][team]/tot['time'] %}

            <circle class="capture" cx="50%" cy="50%" r="{{ rad }}"
                    onmousemove="showTooltip(evt, '{{ text | safe }}' )"
                    onmouseout="hideTooltip()">
                  <set attributeName='stroke-width' to="{{ stroke_w }}"/>
                  <set attributeName='stroke' to="{{ team_cmap[team] }}"/>
                  <set attributeName='stroke' from="{{ team_cmap[team] }}" to="#C0C0C0" begin="mouseover" end="mouseout"/>
                  <set attributeName='stroke-dashoffset' to="{{ from.value }}"/>
                  <set attributeName='stroke-dasharray' to="{{ circ }} {{ to }}"/>
              </circle>

            {% set from.value = to %}

            {% endif %}

        {% endfor %}

    <text x="50%" y="39%" text-anchor="middle" style="font-size: 80%"> {{ team_name[nd.team] if nd.team else 'No one' }}'s </text>
    <text x="50%" y="52.5%" text-anchor="middle"> {{ nd.location or nd.node }} </text>
    <text x="50%" y="66%" text-anchor="middle" style="font-size: 80%"> {{ print_time(node_times[nd][nd.team] or 0) }} </text>
    <text x="50%" y="77.5%" text-anchor="middle" style="font-size: 80%"> {{ (node_times[nd][nd.team] or 0) // nd.point_scale }}pts</text>

    </svg>


    {% endif %}

{% endfor %}

</div>


</div>


<div id="player_score" class="leaderboard">
  <h1 class="leaderboard_header"> player leaderboard </h1>

  <table id="table">
    <thead>
      <tr>
        <th class="header"> Player </th>
        <th class="header"> Points </th>
      </tr>
    </thead>
    <tbody>
        {% for dat in plyr_score %}
        <tr class="row">

                <td style="width:40%"> {{ dat.player.callsign or dat | safe }} </td>
                <td style="width:40%"> {{ plyr_score[dat] | safe }} </td>

        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>

<script src="../static/js/leaderboard.js"></script>

<br><br>


{% endblock %}
