{% extends "base.html" %}

{% block content %}

<script src="../static/js/node_admin.js"></script>

<body onload="update_cmd_args({{ cmd_args | safe }})">

    <form id="configuration_control"
          name="Member_Data"
          action=""
          method="post"
          style="float:center">

      <fieldset id="fieldset">

          <legend> Configuration Control </legend>

          <div id="fields">

              <div class="form_field">
                  <label for="dest"> Destination Node </label> <br>
                  <select name="dest" id="dest" placeholder="Destination Node" onchange="update_cmd_opts()">
                      <option value="FFFF">BROADCAST</option>
                      {% for node in node_status %}
                      <option value="{{ node.node }}">{{ node.location if node.location else node.node[8:] }}</option>
                      {% endfor %}
                  </select>
              </div>

              <div class="form_field">
                  <br>
                  <select name="conf" id="conf" placeholder="Configuration" onchange="update_cmd_args({{ cmd_args | safe }})">
                      {% if cmd_dict %}

                          {% for key in cmd_dict %}

                              {% if cmd_dict[key] == 'CONFIGURE' %}
                              {% else %}

                                {% if '%02X' % key == "FF" %}
                                    <option value="{{ '%02X' % key }}" id="set_loc" style="display:none">SET LOCATION</option>
                                {% else %}
                                    <option value="{{ '%02X' % key }}">{{ cmd_dict[key] }}</option>
                                {% endif %}

                              {% endif %}

                          {% endfor %}

                      {% else %}

                      <option value="00" id="no_nodes" style="display:none">--select--</option>

                      {% endif %}

                  </select>
              </div>

              <div class="form_field">
                  <label for="args"> Command Argument </label> <br>
                  <select name="args" id="args" placeholder="Command Argument" onclick="">

                          "<option value='00'>--select--</option>"

                  </select>
              </div>

          </div>

          <br/>

          <center>

          <input class="button"
                 id="form_submit_button"
                 type="button"
                 name="action"
                 value="Issue Command"
                 onclick="form_submit(this)"
                 {% if not cmd_dict %}
                 style="display:none"
                 {% endif %}>
                 </input>

          <input class="button"
                 id="end_game_button"
                 type="button"
                 name="action"
                 {% if is_paused %}
                    value="Resume Game"
                 {% else %}
                    value="Pause Game"
                 {% endif %}
                 onclick="form_submit(this)"
                 {% if not cmd_dict %}
                 style="display:none"
                 {% endif %}>
                 </input>

         <input class="button"
                id="start_game_button"
                type="button"
                name="action"
                value="Start Game"
                onclick="form_submit(this)"
                {% if not cmd_dict %}
                style="display:none"
                {% endif %}>
                </input>

          <input class="button"
                 id="discover_network_button"
                 type="button"
                 name="action"
                 value="Discover Network"
                 onclick="form_submit(this)"
                 {% if cmd_dict %}
                 style="display:none"
                 {% endif %}>
                 </input>

          </center>

      </fieldset>

    </form>


    {% if cmd_dict %}

        <div class="table-wrapper" style="font-size: 75%">

          <table id="table">

            <thead>
              <tr>
                  {% for col in node_cols %}
                    <th class="header" style="background-color:#808080;"> {{col | safe}} </th>
                  {% endfor %}
              </tr>
            </thead>

            <tbody>

                {% for node in node_status %}
                <tr class="row">

                    <td> {{ node.node[8:]                   | safe }} </td>
                    <td> {{ node.location                   | safe }} </td>
                    <td> {{ cmd_dict[node.config]           | safe }} </td>
                    <td> {{ team_name[node.team]            | safe }} </td>
                    <td> {{ print_time(node.cap_time * 10)  | safe }} </td>
                    <td> {{ print_perc(node.cap_asst)       | safe }} </td>
                    <td> {{ (60/node.point_scale)           | safe }} x </td>
                    <td> {{ print_time(node.med_time * 10)  | safe }} </td>
                    <td> {{ node.allow_medic                | safe }} </td>
                    <td> {{ print_time(node.bomb_time * 10) | safe }} | {{ print_time(node.arm_time * 10) | safe }} | {{ print_time(node.diff_time * 10) | safe }} </td>

                </tr>
                {% endfor %}

            </tbody>

          </table>

        </div>

    {% endif %}

</body>


{% endblock %}
