{% extends "base.html" %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="../static/css/pair_uid.css" charset="utf-8" />
    <script src="../static/js/pair_uid.js"></script>

    <form name="Pair_UID"
          method="post"
          action="{{ url_for('pair_uid.assign_uid') }}">

    <select name="player" id="player" style="width: 70%;">

        {% for player in Players %}
        <option value={{  player.id  }}>

            {% set len = (player.lastname | length) + (player.firstname | length) + 2 %}

            {{  player.lastname  }}, {{  player.firstname }}{{ ('.'*(44-len) + 'UID: ' + player.uid) if player.uid }}

        </option>
        {% endfor %}

    </select>

    <input type="text" name="uid" value="" id="uidblock" autocomplete="off"/>

    <input class="button"
           id="assign_uid_button"
           type="submit"
           name="action"
           value="Assign UID">
   </input>


   </form>

{% endblock %}
