{% extends "base.html" %}

{% block content %}

    <script src="../static/js/pair_uid.js"></script>

    <form>

    <select name="Players" id="players">
        {% for player in Players %}
        <option value={{  player['id']  }}>
            {{  player.lastname  }},
            {{  player.firstname  }} &emsp; &emsp;
            uid: {{ player.uid }}
        </option>
        {% endfor %}
    </select>

    <h1 id="uidblock" value=""> </h1>

    <input class="button"
           id="assign_uid_button"
           type="button"
           name="action"
           value="Assign UID"
           onclick="assign_uid(this.value)"
           >
           </input>


   </form>

{% endblock %}
