{% extends "base.html" %}

{% block content %}

<!--
  <h1> Hello, {{ user.callsign }} </h1>
  <h1> Hello, {{ user.firstname }} </h1>
  <h1> Hello, {{ user.lastname }} </h1>
  <h1> Hello, {{ user.email }} </h1>
  <h1> Hello, {{ user.callsign }} </h1>
-->  
  <div class="playerPage">

  <div class="callsignHeader">
    <p> Callsign </p>

  </div>

  <div class="playerImage">
    <img src="../static/img/soldierC.jpg" alt="bad ass dude" >

  </div>

  <div class="playerInfo">

    <h1> First Name: </h1>
    <p> Player First Name </p>
    <h1> Last Name: </h1>
    <p> Player Last Name </p>
    <h1> Outfit: </h1>
    <p> Player Outfit </p>

  </div>

  <div class="playerStats">

    <table id="table">

      <thead>
        <tr>
          <th class="header">Captures</td>
          <th class="header">Capture Assists</td>
          <th class="header">Total Points</td>
        </tr>
      </thead>

      <tbody>

        <tr class="row">
          <td>15</td>
          <td>30</td>
          <td>100</td>
        </tr>

      </tbody>

    </table>

  </div>

  </div>
{% endblock %}
