{% extends "base.html" %}

{% block content %}

<div style="display:inline-block; width:100%;">
<input type="text"
       id="mbr_search"
       onkeyup="search(event)"
       placeholder="search...">
</input>
</div>


<div class="leaderboard">

  <h1> team leaderboard </h1>

  <table id="table">
    <thead>
      <tr>
          {% for col in t_sc_cols %}

            {% if col == 'time' %}
            <th class="header"> {{col | safe}} (min) </th>
            {% else %}
            <th class="header"> {{col | safe}} </th>
            {% endif %}

          {% endfor %}
      </tr>
    </thead>
    <tbody>
        {% for dat in team_score %}
        <tr class="row">
            {% for col in t_sc_cols %}

                {% if col == 'time' %}
                <td style="width:33%"> {{ team_times[dat]//60 if team_times[dat] else 0 }} </td>
                {% elif col == 'team' %}
                <td style="width:33%"> {{ dat }} </td>
                {% else %}
                <td style="width:33%"> {{ team_score[dat] | safe }} </td>
                {% endif %}

            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
  </table>


{% for nd in node_times %}
<h3> {{ nd if nd else node_times[nd].node }} </h3>
<table id="table">
  <thead>
    <tr>
        {% for col in nd_tm_cols %}

          {% if col == 'time' %}
          <th class="header"> {{col | safe}} (min) </th>
          {% else %}
          <th class="header"> {{col | safe}} </th>
          {% endif %}

        {% endfor %}
    </tr>
  </thead>
<tbody>

    {% for dat in node_times[nd] %}
    <tr class="row">

            <td style="width:50%"> {{ dat[0] | safe }} </td>
            <td style="width:50%"> {{ dat[1]//60 if dat[1] else 0 }} </td>

    </tr>
    {% endfor %}

</tbody>
</table>

{% endfor %}

</div>

<br>

<div class="leaderboard">

  <h1> player leaderboard </h1>

  <table id="table">
    <thead>
      <tr>
          {% for col in p_sc_cols %}
            <th class="header"> {{col | safe}} </th>
          {% endfor %}
      </tr>
    </thead>
    <tbody>
        {% for dat in plyr_score %}
        <tr class="row">

            {% for col in p_sc_cols %}
                {% if col.lower() == 'player' %}
                <td style="width:50%"> {{ players[dat] if dat in players else dat | safe }} </td>
                {% else %}
                <td style="width:50%"> {{ plyr_score[dat] | safe }} </td>
                {% endif %}
            {% endfor %}

        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>

<br>

{% endblock %}
