{% extends "base.html" %}

{% block content %}

<div style="display:inline-block; width:100%;">
<input type="text"
       id="mbr_search"
       onkeyup="search(event)"
       placeholder="search...">
</input>
</div>

<ul class="tab" id="main-nav">
  <li onclick="show_table(event, 'team_score')" id="defaultOpen"><a class="tablink">Team Score</a></li>
  <li onclick="show_table(event, 'location_score')"><a class="tablink" >Location Stats</a></li>
  <li onclick="show_table(event, 'player_score')"><a class="tablink" >Player Score</a></li>
</ul>

<div id="team_score" class="leaderboard">
  <h1 class="leaderboard_header"> team leaderboard </h1>

  <table id="table">
    <thead>
      <tr>
          {% for col in t_sc_cols %}

            {% if col == 'time' %}
            <th class="header"> {{ col | safe }} </th>
            {% else %}
            <th class="header"> {{ col | safe }} </th>
            {% endif %}

          {% endfor %}
      </tr>
    </thead>
    <tbody>
        {% for dat in team_score %}
        <tr class="row team{{dat | safe}}">
            {% for col in t_sc_cols %}

                {% if col == 'time' %}
                <td style="width:33%"> {{ print_time(team_times[dat]) if team_times[dat] else 0 | safe }} </td>
                {% elif col == 'team' %}
                <td style="width:33%"> {{ team_name[dat] | safe }} </td>
                {% else %}
                <td style="width:33%"> {{ team_score[dat] | safe }} </td>
                {% endif %}

            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>

<div id="location_score" class="leaderboard">
{% for nd in node_times %}
<h3 class="leaderboard_header"> {{ nd.location or nd.node | safe }} </h3>
<table id="table">
  <thead>
    <tr>
        {% for col in nd_tm_cols %}

          {% if col == 'time' %}
          <th class="header"> {{col | safe}} </th>
          {% else %}
          <th class="header"> {{col | safe}} </th>
          {% endif %}

        {% endfor %}
    </tr>
  </thead>
<tbody>

    {% for dat in node_times[nd] %}
    <tr class="row team{{dat | safe}}">

            <td style="width:50%"> {{ team_name[dat] | safe }} </td>
            <td style="width:50%"> {{ print_time(node_times[nd][dat]) or 0 | safe }} </td>

    </tr>
    {% endfor %}

</tbody>
</table>

{% endfor %}

</div>


<div id="player_score" class="leaderboard">
  <h1 class="leaderboard_header"> player leaderboard </h1>

  <table id="table">
    <thead>
      <tr>
          {% for col in p_sc_cols %}
            <th class="header"> {{col | safe}} </th>
          {% endfor %}
      </tr>
    </thead>
    <tbody>
        {% for dat in plyr_score %}
        <tr class="row">
            {% for col in p_sc_cols %}
                {% if col.lower() == 'player' %}
                <td style="width:40%"> {{ dat.player or dat | safe }} </td>
                {% else %}
                <td style="width:40%"> {{ plyr_score[dat] | safe }} </td>
                {% endif %}
            {% endfor %}

        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>

<script src="../static/js/leaderboard.js"></script>


{% endblock %}
