{% extends "base.html" %}

{% block content %}

    {% from "_formhelpers.html" import render_field %}
    <form id="user_registration"
          name="Member_Data"
          action=""
          method="post"
          style="float:center">
      {{ form.hidden_tag() }}

        <dl>
          {{render_field(form.firstname)}}
          {{render_field(form.lastname)}}
          {{render_field(form.email)}}
          {{render_field(form.callsign)}}
          {{render_field(form.password)}}
          {{render_field(form.confirm)}}
          {{ form.submit() }}
        </dl>

   </form>

{% endblock %}
