{% extends "base.html" %}

{% block content %}

    {% from "_formhelpers.html" import render_field %}
    <form id="user_registration"
          name="Member_Data"
          action=""
          method="post"
          enctype="multipart/form-data"
          style="float:center">

      {{ form.hidden_tag() }}

        <dl>
            {{ form.csrf_token }}
            {{render_field(form.firstname)}}
            {{render_field(form.lastname)}}

            {{render_field(form.email)}}

            {% if not current_user.is_authenticated %}
                {{render_field(form.callsign)}}
            {% endif %}

            {{render_field(form.outfit)}}

            {% if not current_user.is_authenticated %}
                {{render_field(form.password)}}
                {{render_field(form.confirm)}}
            {% endif %}

            {{render_field(form.image)}}
            {{ form.submit() }}
        </dl>

   </form>

{% endblock %}
