{% extends "base.html" %}

{% block content %}

    {% from "_formhelpers.html" import render_field %}
    <form id="user registration"
          name="Member_Data"
          action="/user_reg"
          method="post"
          style="float:center">

        <dl>
          {{render_field(form.fname)}}
          {{render_field(form.lname)}}
        </dl>

        <input type="submit" value="Submit">

    </form>

    <select name="Players" id="players">
        {% for player in Players %}
        <option value={{player['id']}}>{{player['lname']}},
        {{player['fname']}}</option>
        {% endfor %}
    </select>

    <button type="button" name="Get UID" formaction="/register_user">
    <!-- put some shit in here about where to put the uid >
{% endblock %}
