<div class="" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
    <div class="" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 *ngIf="mode == 'createMode'" class="modal-title" id="exampleModalLabel">Configure nodes for this
                    game mode.</h5>
                <h5 *ngIf="mode == 'activeNodes'" class="modal-title" id="exampleModalLabel">Control Nodes</h5>
                <!-- <h5 *ngIf="mode == 'adminNodes'" class="modal-title" id="exampleModalLabel">Admin Nodes.</h5> -->

            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="">
                        <div *ngIf="mode == 'createMode'">
                            <div class="row center-cust ">
                                Locations To Set: [<div *ngFor="let location of  getLocationList(); let i = index"><a
                                        class="badge badge-pill badge-light">{{ location.name }} </a></div>]
                            </div>
                            <div class="row center-cust ">
                                Teams Avaliable To Set: [<div *ngFor="let team of teamsAvaliable ; let x = index"><a
                                        class="badge badge-pill badge-light">{{ team.name }} </a></div>]
                            </div>
                        </div>
                        <div class="center-cust row">

                            <div *ngFor="let device of devices; let i = index" class="card user-card">

                                <div class="card-header">
                                    <div *ngIf="mode !== 'activeNodes'">
                                        <h4>Location:{{device?.location?.name}}
                                            <select class="form-control"
                                                (change)="locationSelected($event,device)"
                                                (click)="saveOldVal(device)"
                                                [(ngModel)]="device.location"
                                                >
                                                <option value="none" selected> -- Select Location -- </option>
                                                <option *ngFor="let location of updatedLocationList ; let i = index"
                                                    [ngValue]=location.id
                                                    [disabled]="location.isDisabled">
                                                    {{location.name}}
                                                </option>
                                            </select>
                                        </h4>
                                        <h7>Address: {{device.address.slice(12,14)}} {{device.address.slice(14,16)}}
                                        </h7>
                                        <br>
                                    </div>
                                    <div *ngIf="mode == 'activeNodes'">
                                        {{ device.location }}
                                    </div>
                                    <!-- <div *ngIf="mode == 'adminNodes'">
                                        <h7>Address: {{device.address.slice(12,14)}} {{device.address.slice(14,16)}}
                                        </h7>
                                    </div> -->
                                    <!-- <h7>Device ID: {{device.id}}</h7> -->
                                </div>

                                <div *ngIf="(device.enabled && mode == 'createMode') ||  mode !== 'createMode'"
                                    class="card-body">


                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input (click)="enableQuery(device)" type="checkbox"
                                                class="custom-control-input" [id]="'querySwitch-' + i"
                                                [disabled]="device.queryPlayer.enabled"
                                                [checked]="device.queryPlayer.enabled">
                                            <label class="custom-control-label" [for]="'querySwitch-' + i">Player
                                                Query</label>
                                        </div>
                                    </div>



                                    <!-- <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input (click)="makeActive(device)" type="checkbox"
                                                class="custom-control-input" [id]="'makeActive-' + i">
                                            <label class="custom-control-label" [for]="'makeActive-' + i"> Make Node Active In Game</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input (click)="makeAdmin(device)" type="checkbox"
                                                class="custom-control-input" [id]="'makeAdmin-' + i">
                                            <label class="custom-control-label" [for]="'makeAdmin-' + i">Make Node Admin</label>
                                        </div>
                                    </div> -->

                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input (click)="enableRegister(device)" type="checkbox"
                                                class="custom-control-input" [id]="'registerSwitch-' + i"
                                                [disabled]="device.registerPlayer.enabled"
                                                [checked]="device.registerPlayer.enabled">
                                            <label class="custom-control-label" [for]="'registerSwitch-' + i">Register
                                                Team</label>
                                        </div>
                                        <div *ngIf="device.registerPlayer.enabled">
                                            <div class="card card-body">
                                                <!-- NEED TO PUT DROPDOWN (or similar) FOR TEAM SELECTION HERE FROM ALLOWED TEAMS -->
                                                <div class="form-group">
                                                    <label for="armTime">Team</label>
                                                    <select class="form-control">
                                                        <option value="none" selected disabled hidden>Select
                                                            Team</option>
                                                        <option [value]="team.id" [disabled]="!team.id"
                                                            *ngFor="let team of teamsAvaliable; let i = index">
                                                            {{team.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input (click)="enableMedic(device)" type="checkbox"
                                                class="custom-control-input" [id]="'medicSwitch-' + i"
                                                [disabled]="device.medic.enabled"
                                                [checked]="device.medic.enabled">
                                            <label class="custom-control-label" [for]="'medicSwitch-' + i">Medic
                                                Station</label>
                                        </div>
                                        <div *ngIf="device.medic.enabled">
                                            <div class="card card-body">
                                                <div class="form-group">
                                                    <label for="medicTime">Time to Medic</label>
                                                    <input class="form-control-range" type="range" min="0"
                                                    max="11" [value]="getTimeIndex(device.medic.medTime)" step="1"
                                                    (change)="medicTime(device,$event.target.value, true)"
                                                    (input)="medicTime(device, $event.target.value)">
                                                    {{convertTime(device.medic.medTime)}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input (click)="enableBomb(device)" type="checkbox"
                                                class="custom-control-input" [id]="'bombSwitch-' + i"
                                                [disabled]="device.bomb.enabled"
                                                [checked]="device.bomb.enabled">
                                            <label class="custom-control-label"
                                                [for]="'bombSwitch-' + i">Bomb/IED</label>
                                        </div>
                                        <div *ngIf="device.bomb.enabled">
                                            <div class="card card-body">
                                                <div class="form-group">
                                                    <label for="armTime">Arm Time</label>
                                                    <input class="form-control-range" type="range" min="0"
                                                        max="11" [value]="getTimeIndex(device.bomb.arm_time)" step="1"
                                                        (change)="armTime(device,$event.target.value, true)"
                                                        (input)="armTime(device,$event.target.value)">
                                                    {{convertTime(device.bomb.arm_time)}}
                                                </div>
                                                <hr>
                                                <div class="form-group">
                                                    <label for="blastTime">Fuse Timer</label>
                                                    <input class="form-control-range" type="range"
                                                        min="0" max="32" [value]="getTimeIndex(device.bomb.bomb_time)"
                                                        step="1"
                                                        (change)="bombTime(device,$event.target.value, true)"
                                                        (input)="bombTime(device,$event.target.value)">
                                                    {{convertTime(device.bomb.bomb_time)}}
                                                </div>
                                                <hr>
                                                <div class="form-group">
                                                    <label for="difuseTime">Diffuse Time</label>
                                                    <input class="form-control-range" type="range"
                                                        min="0" max="11" [value]="getTimeIndex(device.bomb.diff_time)"
                                                        step="1"
                                                        (change)="difuseTime(device,$event.target.value, true)"
                                                        (input)="difuseTime(device,$event.target.value)">
                                                    {{convertTime(device.bomb.diff_time)}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input (click)="enableCapture(device)" type="checkbox"
                                                class="custom-control-input" [id]="'captureSwitch-' + i"
                                                [disabled]="device.capture.enabled"
                                                [checked]="device.capture.enabled">
                                            <label class="custom-control-label" [for]="'captureSwitch-' + i">Capture
                                                Point</label>
                                        </div>
                                        <div *ngIf="device.capture.enabled">
                                            <div class="card card-body">

                                                <div class="form-group">
                                                    <label for="captime">Stabilization Time</label>
                                                    <input class="form-control-range" type="range" min="0"
                                                        max="32" [value]="getTimeIndex(device.capture.cap_time)"
                                                        step="1"
                                                        (change)="capTime(device,$event.target.value, true)"
                                                        (input)="capTime(device,$event.target.value)">
                                                    {{convertTime(device.capture.cap_time)}}
                                                </div>
                                                <hr>
                                                <div class="form-group">
                                                    <label for="capasst">Capture Assist</label>
                                                    <input class="form-control-range" type="range" min="0"
                                                        max="8" [value]="getPercIndex(device.capture.cap_asst)" step="1"
                                                        (change)="capasst(device,$event.target.value, true)"
                                                        (input)="capasst(device,$event.target.value)">
                                                    {{convertPerc(device.capture.cap_asst)}} %
                                                </div>
                                                <hr>
                                                <div class="form-group">
                                                    <label for="pointScale">Point Scale</label>
                                                    <input class="form-control-range" type="range"
                                                        min="0" max="11"
                                                        [value]="getScaleIndex(device.capture.point_scale)" step="1"
                                                        (change)="pointScale(device,$event.target.value, true)"
                                                        (input)="pointScale(device,$event.target.value)">
                                                    {{convertPointScale(device.capture.point_scale)}}
                                                </div>
                                                <hr>
                                                <div class="custom-control custom-switch">
                                                    <input (click)="enableAllowMedic(device)" type="checkbox"
                                                        class="custom-control-input" [id]="'allowMedicSwitch-' + i"
                                                        [checked]="device.capture.allow_medic">
                                                    <label class="custom-control-label"
                                                        [for]="'allowMedicSwitch-' + i">Allow
                                                        Medic</label>
                                                </div>
                                                <div *ngIf="device.capture.allow_medic">
                                                    <div class="card card-body">
                                                        <div class="form-group">
                                                            <label for="capmedicTime">Time to Medic</label>
                                                            <input class="form-control-range" type="range" min="0"
                                                            max="11" [value]="getTimeIndex(device.medic.medTime)" step="1"
                                                            (change)="medicTime(device,$event.target.value, true)"
                                                            (input)="medicTime(device,$event.target.value)">
                                                            {{convertTime(device.medic.medTime)}}
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>


                        </div>


                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button *ngIf="mode == 'activeNodes'" type="button" class="btn btn-danger"
                    (click)="endGame()">END GAME</button>
                    <button *ngIf="mode == 'activeNodes'" type="button" class="btn btn-warning"
                    (click)="saveNodeConfigs()">PAUSE GAME</button>
            </div>
        </div>
    </div>
</div>
<!--
//below are constants
address: "0013A20041A66B3F"
id: 7
//below change per game
location: null
gameActions: []
gameID: null
//below can change anytime during game
point_scale: 60 -range
allow_medic: true - switch
med_time: 3 -range
where is allow_bomb to show the node is a bomb?
arm_time: 1 - range
bomb_status: 189 ??? what is this for?
bomb_time: 18 - range
diff_time: 12 - range
where is allow_capture to show the node is a capture point?
cap_asst: 20 -range
cap_time: 1 - range
config: 10 ?
stable: 1 -range? is this how long it take to be stable?
fieldProfileID: 1
lastChange: "Sun, 04 Apr 2021 17:40:43 GMT"
creationDate: "Sat, 27 Mar 2021 00:35:08 GMT"
deactivated: null
team: "3333cc"
teamID: null -->
