<div class="custom_skirmesh_margin custom_skirmesh">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<div class="card-group mb-0">
				<div class="card p-4 cust">
					<div class="card-body">

						<h1>Login</h1>

							<div class="social-button-container">
								<!-- <div class="top-50 start-50"> -->

								<a (click)="loginWithFacebook()" class="btn btn-md btn-social btn-facebook">
									<i class="fa fa-facebook fa-fw"> </i> Sign in with Facebook
								</a>
								<br/>
								<a (click)="signInWithGoogle()" class="btn btn-md btn-social btn-google">
									<img src="https://img.icons8.com/color/64/000000/google-logo.png"> Sign in with Google</a>
							</div>
							<br/>

						<form [formGroup]="login" autocomplete="off" method="POST">

							<div class="form-group input-group">
								<input  id="callSign" formControlName="callSign" type="text" class="form-control"
									placeholder="Callsign or Field Name">

							</div>

							<div *ngIf="callSign.invalid && (callSign.dirty || callSign.touched) "
									class="alert alert-danger ">
									<div *ngIf="callSign.errors?.required ">
										Callsign or Field Name is required
									</div>
							</div>

							<div class="form-group input-group">
								<input formControlName="password" type="password" class="form-control"
									placeholder="Password">

							</div>

							<div *ngIf="password.invalid && (password.dirty || password.touched) "
							class="alert alert-danger ">

								<div *ngIf="password.errors?.required ">
									Password is required
								</div>
								<div *ngIf="password.errors?.minlength ">
									Password needs to be min of 6 characters
								</div>

							</div>

							<div class="row">
								<div class="col-6">
									<button (click)="onSubmit()" type="button"
										class="btn cust_btn px-4 text-white">Login</button>
								</div>


								<div class="col-6 text-right">
									<button type="button" class="btn btn-link px-0" [routerLink]="['/auth/pass-reset']">Forgot password?</button>
								</div>
								<div class="row">
									<div id="userLoginFaileddMessage" class="alert alert-danger d-none center-cust">
										We are sorry we were not able to log you in at this time <br>
										Please try again or <a [routerLink]="['/non-secure/contact-us']">contact us from
											our contact us page</a>
									</div>
								</div>
							</div>
							<hr>

						</form>
					</div>
				</div>
				<div class="card text-black cust py-5 d-md-down-none">
					<div class="card-body text-center">
						<div>
							<h2>Sign up</h2>
							<p>Are you a field and want to get started?<br/> Reach out to us
								<a [routerLink]="['/non-secure/field-info']">here</a>.
							</p>
							<p> Are you a player? <a [routerLink]="['/auth/sign-up']">Register
									here</a>!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
