.leaderboardRow:hover {
    cursor: pointer;
    transform: scale(1.02);
}
.title-text {
    font-family: 'revamped'; 
}
.leaderboardRow:active {
    cursor: pointer;
    transform: scale(0.98);
}

.bg-gold {
    background-color: #D6AF36;
}

.bg-silver {
    background-color: #A7A7AD;
}

.bg-bronze {
    background-color: #A77044;
} 
.container {
    background-color: #ccba87;
    box-shadow: 5px 5px 50px #ccba87;
}