
<div class="" align="center">

    <div class="col rounded-2">

        <h3 class="title-text text-white my-2">National Leaderboard</h3>
    <div
    [innerHtml]="isWeekly ? 'Weekly' : 'Monthly'"
    class="btn btn-outline-info"
    (click)="setLeaderboardData()">
    </div>

    <p class="text-white my-2" [innerHtml]="minDate"></p>
        <div class="text-white row">
            <div class="col"><hr></div>
            <div class="col-auto">to</div>
            <div class="col"><hr></div>
        </div>
    <p class="text-white" [innerHtml]="nowDate"></p>

    <!-- <p class="my-4">Click to view a leader's profile!</p> -->

    <div *ngIf="signInError"
        class="alert alert-info alert-dismissible fade show"
        role="alert">
      <strong>Sign-in to view profiles. </strong>
      <button type="button" class="close" aria-label="Close" (click)="signInError = !signInError">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    </div>

    <div class="row mx-0">

        <!-- <div class="col-md-6">
            <ngx-charts-bar-vertical
            [scheme]="podiumColors"
            [showDataLabel]="true"
            [results]="podiumData" 
            [xAxis]="true"
            [legend]="false"
            [yScaleMax]="yScaleMax"
            [yScaleMin]="0"
            >
        	</ngx-charts-bar-vertical>
        </div> -->

        <div class="col">

            <div *ngFor="let leader of leaderboardData; index as i; first as isFirst"
                class="row p-1 border rounded leaderboardRow text-white"
                [class.bg-gold]  ="i == 0"
                [class.bg-silver]="i == 1"
                [class.bg-bronze]="i == 2" 
                [class.font-weight-bold]="i == 1 || i == 2 || isFirst"
                data-mdb-toggle="animation"
                data-mdb-animation="fade-in-up"
                (click)="viewPlayerProfile(leader.name)"
                >

                <div class="col-2 text-left" [innerHtml]="i+1"></div>
                <div class="col-8 text-left" [innerHtml]="leader.name"></div>
                <div class="col-2 text-right" [innerHtml]="leader.total_points"></div>

            <div>

        </div>

    </div>
</div>
