<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> -->
<div class="cust_skirmesh container">
  <div class="view-account">
    <section class="module">
      <div class="module-inner">
        <div class="side-bar">
          <nav class="side-menu">
            <ul class="nav">
              <li id="profileNav" (click)="profile()" class="active"><a><span class="fa fa-user"></span> Profile</a>
              </li>
              <li *ngIf="isField"  id="settingsNav" (click)="settings()"><a><span class="fa fa-cog"></span> Pair RFID</a></li>
              <li id="securityNav" (click)="security()"><a><span class="fa fa-credit-card"></span> Security</a></li>
            </ul>
          </nav>
        </div>
        <div id="profile" class="content-panel">
          <h2 class="title center-cust">Manage Profile</h2>
          <form [formGroup]="profileForm" autocomplete="off" method="PUT" class="form-horizontal">
            <fieldset class="fieldset">
              <h3 class="fieldset-title">Personal Info</h3>
              <div class="form-group avatar">
                <figure class="figure col-md-2 col-sm-3 col-xs-12">
                  <img id="profileImage" class="img-rounded img-responsive" src="{{currentVals.imageData}}"
                    onerror="this.onerror=null; this.src='https://bootdey.com/img/Content/avatar/avatar1.png'" alt="">
                </figure>
                <div class="form-inline col-md-10 col-sm-9 col-xs-12">
                  <input formControlName="profileImage" (change)="getFile($event)" type="file"
                    class="file-uploader pull-left" accept="image/*">
                  <button type="submit" (click)="saveImage()"
                    class="btn btn-sm btn-primary btn-default-alt pull-left">Update Image</button>
                </div>
              </div>


              <div class="form-group">
                <label class="col-md-2 col-sm-3 col-xs-12 control-label">First Name</label>
                <div class="col-md-10 col-sm-9 col-xs-12">
                  <input formControlName="firstName" type="text" class="form-control"
                    placeholder="{{currentVals.firstName}}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 col-sm-3 col-xs-12 control-label">Last Name</label>
                <div class="col-md-10 col-sm-9 col-xs-12">
                  <input formControlName="lastName" type="text" class="form-control"
                    placeholder="{{currentVals.lastName}}">
                </div>
              </div>
              <div *ngIf="isPlayer" class="form-group">
                <label class="col-md-2 col-sm-3 col-xs-12 control-label">Clan Tag</label>
                <div class="col-md-10 col-sm-9 col-xs-12">
                  <input formControlName="clanTag" type="text" class="form-control"
                    placeholder="{{currentVals.clanTag}}">
                </div>
              </div>
              <div *ngIf="isPlayer" class="form-group">
                <label class="col-md-2 col-sm-3 col-xs-12 control-label">Call Sign</label>
                <div class="col-md-10 col-sm-9 col-xs-12">
                  <input formControlName="callSign" type="text" class="form-control"
                    placeholder="{{currentVals.callSign}}">
                </div>
              </div>
              <div *ngIf="isPlayer" class="form-group">
                <label class="col-md-2 col-sm-3 col-xs-12 control-label">Bio</label>
                <div class="col-md-10 col-sm-9 col-xs-12">
                  <input formControlName="bio" type="text" class="form-control" placeholder="{{currentVals.bio}}">
                </div>
              </div>
              <div *ngIf="isField" class="form-group">
                <label class="col-sm-3 col-xs-12 control-label">Field Name</label>
                <div class="col-md-10 col-sm-9 col-xs-12">
                  <input formControlName="fieldName" type="text" class="form-control"
                    placeholder="{{currentVals.fieldName}}">
                </div>
              </div>
              <div *ngIf="isField" class="form-group">
                <label class="col-sm-3 col-xs-12 control-label">Field Description</label>
                <div class="col-md-10 col-sm-9 col-xs-12">
                  <input formControlName="profile" type="text" class="form-control"
                    placeholder="{{currentVals.profile}}">
                </div>
              </div>
            </fieldset>
            <fieldset class="fieldset">
              <h3 class="fieldset-title">Contact Info</h3>
              <div class="form-group">
                <label class="col-sm-3 col-xs-12 control-label">Email</label>
                <div class="col-md-10 col-sm-9 col-xs-12">
                  <input formControlName="email" type="email" class="form-control" placeholder="{{currentVals.email}}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 col-xs-12 control-label">Phone</label>
                <div class="col-md-10 col-sm-9 col-xs-12">
                  <input formControlName="phone" type="text" class="form-control" placeholder="{{currentVals.phone}}">
                </div>
              </div>
            </fieldset>
            <hr>
            <div class="form-group">
              <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                <input (click)="onSubmit()" class="btn btn-primary" type="submit" value="Update Profile">
              </div>
            </div>
          </form>
          <div class="row">
            <div id="userCreatedMessage" class="alert alert-primary d-none center-cust">
              Your profile has been updated!<br>
            </div>
            <div id="userCreatFaileddMessage" class="alert alert-danger d-none center-cust">
              We are sorry we were not able to update your profile at this time <br>
              Please try again or <a [routerLink]="['/non-secure/contact-us']">contact us.</a>
            </div>
          </div>
          <!-- <div *ngIf="isPlayer" id="socalMedia">
            <div class="row">
              <div class="col">
                <div id="fb_card" class="card">
                  <div class="card-body">
                    <i class="fa fa-facebook fa-5x"></i>
                    <h5 class="card-title">Facebook Connection</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Connected: </h6>
                    <p class="card-text">If you are connected you can share data.</p>
                    <a href="#" id="fb_connect" class="card-link">Connect</a>
                    <a href="#" id="fb_disconnect" class="card-link">Disconnect</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div id="twitter_card" class="card">
                  <div class="card-body">
                    <i class="fa fa-twitter fa-5x"></i>
                    <h5 class="card-title">Twitter Connection</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Connected:</h6>
                    <p class="card-text">If you are connected you can share data.</p>
                    <a href="#" id="twitter_connect" class="card-link">Connect</a>
                    <a href="#" id="twitter_disconnect" class="card-link">Disconnect</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div id="yt" class="card">
                  <div class="card-body">
                    <i class="fa fa-youtube fa-5x"></i>
                    <h5 class="card-title">Youtube Connection</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Connected: </h6>
                    <p class="card-text">If you are connected you can share data.</p>
                    <a href="#" class="card-link">Connect</a>
                    <a href="#" class="card-link">Disconnect</a>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <div id="settings" class="content-panel">
          <h2 class="title center-cust">Pair RFID Band to a Registered Player</h2>

          <button (click)="clearRfidPairField()" type="button" class="btn btn-sm btn-danger">Clear RFID</button>
          <button (click)="checkRfidToPair()" type="button" class="btn btn-sm btn-primary">Check RFID</button>

          <div class='row'>


            <p class="card card-block card-header mb-3">
                Scan RFID at Controller and Check for the RFID.
            </p>
            <br>
            <p class="card card-block card-header mb-3">Scanned RFID: {{ rfidToPair }}</p>
            <br>

            <select class="form-control"
                [(ngModel)]="playerSelected">
                <option *ngFor="let player of playerList; let i = index"
                    [ngValue]=player>
                    {{player.callSign}}
                </option>
            </select>

            <!-- <a style="width:100%">Search for Player: </a><input [(ngModel)]="playerSelected.callSign" [typeahead]="playerList"
              typeaheadOptionField="name" [adaptivePosition]="true" class="form-control"> -->

            <button (click)="pairRfidToPlayer()" type="button" class="btn btn-success">Pair RFID</button>
            <!-- <pre class="card card-block card-header mb-3">Model: {{selected | json}}</pre>
            <input [(ngModel)]="selected" [typeahead]="states" [adaptivePosition]="true" class="form-control"> -->
          </div>
        </div>
        <div id="security" class="content-panel">
          <h2 class="title center-cust">Manage Security</h2>

          <div class="custom_skirmesh">
            <div class="row justify-content-md-center">
              <!-- <div class="col-8"> -->
              <div class="login-screen">
                <form [formGroup]="passReset" autocomplete="off" method="POST">
                  <div class="col-6">
                    <h3 class="center-cust">Enter a new password and confirm password to change your password</h3>
                    <div class="form-group">
                      <input formControlName="pass" type="password" class="form-control" placeholder="Password">
                    </div>
                    <div *ngIf="pass.invalid && (pass.dirty || pass.touched) " class="alert alert-danger ">
                      <div *ngIf="pass.errors?.required ">
                        Password is required
                      </div>
                      <div *ngIf="pass.errors?.minlength ">
                        Password needs to be min of 6 characters
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <input formControlName="confirmPass" type="password" class="form-control"
                        placeholder="Confirm Password">
                    </div>
                    <div *ngIf="confirmPass.invalid && (confirmPass.dirty || confirmPass.touched) "
                      class="alert alert-danger ">
                      <div *ngIf="confirmPass.errors?.required ">
                        Confirm password is required
                      </div>
                      <div *ngIf="confirmPass.errors?.notSame">
                        Passwords needs to match
                      </div>
                    </div>
                  </div>
                </form>
                <div>
                  <div id="FBuserCreatedMessage" class="alert alert-primary d-none center-cust">
                    Your password is changed<br>
                    <a [routerLink]="['/auth/login']">LOGIN</a>.
                  </div>
                  <div id="FBuserCreatFaileddMessage" class="alert alert-danger d-none center-cust">
                    We are sorry we were not able to change your password at this time <br>
                    Please try again or <a [routerLink]="['/non-secure/contact-us']">contact us from our
                      contact us page</a>
                  </div>
                </div>
                <button [disabled]="passReset.invalid" (click)="onPasswordReset()" type="submit"
                  class="btn btn-primary cust_skir_signup"> Reset Password</button>
              </div>
            </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
