
@import "../../../assets/libs/font-awesome-4.7.0/scss/font-awesome.scss";

.center-cust{
    justify-content: center;
    text-align: center;
    float: center;
}
.custSpacing{
    padding: 10px;
    margin: 10px;
}