
<button *ngIf="selectedField"
        (click)="deSelectField()"
        class="btn btn-primary">Go Back
</button>
<br/>

<div *ngIf="!selectedField" class="row">

  <div *ngFor="let field of fieldCardData;"
       class="card user-card col-sm-3 d-flex px-1 py-1 gx-1 gy-1">

      <div class="card-header"
           [value]="field.id"
           (click)="selectField(field.id)">
        <h5> {{field.name}} ({{field.configs.length}})</h5>
      </div>

      <div class="card-body"
           [value]="field.id"
           (click)="selectField(field.id)">

         <img
            class="img img-thumbnail"
            src="{{field.imageData}}"
            onerror="this.onerror=null"
            alt=""/>

         <div class="card-title" [innerHtml]="field.description"></div>

      </div>

  </div>

</div>

<div *ngIf="selectedField" class="row">

        <div class="container">

          <div class="card-header row">
            <h5> {{selectedField.name}} ({{selectedField.configs.length}})</h5>
          </div>

          <div class="card-body row">

          <div class="col-sm-3">

           <img
              class="img img-thumbnail"
              src="{{selectedField.imageData}}"
              onerror="this.onerror=null"
              alt=""/>

            </div>

            <div class="col px-1 py-1 gx-1 gy-1">

              <select class="form-control" (change)="changeGameMode($event)">
                  <option disabled selected> -- Select Game Mode -- </option>
                  <option [value]=config.id *ngFor="let config of selectedField.configs">
                      {{config.description}} ({{config.games.length}})</option>
              </select>
              <br/>
              <select *ngIf="selectedMode" size="7" class="form-control" (change)="changeGame($event)">
                  <option disabled selected> -- Select Game -- </option>
                  <option [value]=game.id *ngFor="let game of selectedMode.games">
                      {{game.creationDate.toLocaleString()}} </option>
              </select>

            </div>



            <div *ngIf="selectedGame && selectedMode" class="col px-1 py-1 gx-1 gy-1">
            <app-map [gameID]="selectedGame?.id" [mapID]="selectedMode?.mapID" [deviceData]="selectedMode?.deviceMap"></app-map>
            </div>

            </div>


            <div *ngIf="selectedGame && selectedMode" class="col">
              <app-team-score [teams]="scoreSvc?.teams" [barChartData]="scoreSvc?.barChartData" ></app-team-score>
            </div>


        </div>

  </div>
