<div class="container">
  <button (click)="backToSelf()" *ngIf="viewForUser" type="button" class="btn btn-primary">Back to Self</button>
  <div *ngIf="!pageLvlError" class="row">
    <div class="col-lg-4">
      
      <div class="card card-profile">
        <div class="card-header"></div>
        <div class="card-body text-center"><img  src="{{currentVals.imageData}}" class="card-profile-img">
          <h3 *ngIf="isField" class="mb-3">{{currentVals.fieldName}}</h3>
          <p *ngIf="isField" class="mb-4">{{currentVals.profile}}</p>
          <h3 *ngIf="!isField" class="mb-3">{{currentVals.callSign}}</h3>
          <p *ngIf="!isField" class="mb-4">{{currentVals.bio}}</p>
        </div>
      </div>

      <form class="card">
        <div class="card-header">
          <h3 class="card-title">My Profile</h3>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label class="form-label">Name: {{currentVals.firstName}} {{currentVals.lastName}}</label>
          </div>
          <div *ngIf="!viewForUser" class="form-group">
            <label class="form-label">Email: {{currentVals.email}}</label>
          </div>
          <div *ngIf="!viewForUser" class="form-group">
            <label class="form-label">Phone: {{currentVals.phone}} </label>
          </div>
          <div *ngIf="!isField" class="form-group">
            <label class="form-label">Clan: {{currentVals.clanTag}} </label>
          </div>
        </div>
        <div class="card-footer text-right">
        </div>
      </form>
    </div>
    <div class="col-lg-8">
      <form class="card">
        <div class="card-body">

          <div class="row">

                <h2 class="center-cust">Combined Game Stats</h2>

                <!-- <div style="max-height: 50vh; max-width: 98vh"> -->
                  <!-- <div style="max-height: 500px; max-width: 500px;"> -->
                  <ngx-charts-advanced-pie-chart
                    [scheme]="colorScheme"
                    [results]="pieData"
                    (select)="onSelect($event)"
                    (activate)="onActivate($event)"
                    [view]="chartView"
                    (deactivate)="onDeactivate($event)">
                  </ngx-charts-advanced-pie-chart>
                <!-- </div> -->
          </div>

          <div class="row">

            <h2 class="center-cust">Historical Game Stats</h2>
            <!-- <div style="max-height: 100vh"> -->
              <ngx-charts-area-chart-stacked
                [scheme]="colorScheme"
                [legend]="true"
                [showXAxisLabel]="false"
                [showYAxisLabel]="false"
                [xAxis]="false"
                [yAxis]="true"
                [timeline]="true"
                [view]="chartView"
                [results]="areaData"
                (select)="onSelect($event)">
              </ngx-charts-area-chart-stacked>
            <!-- </div> -->
          </div>

        </div>

        <div class="card-footer text-right">
          Facebook Share
        </div>

      </form>
      <!-- <div class="card">
        <div class="card-header">
          <h2 class="center-cust">Individual Game Stats</h2>
        </div>
        <accordion>

          <accordion-group *ngFor="let game of gameHistData; let i = index"
          heading="Game #: {{game.id}}"
          [panelClass]="customClass"
          [isOpen]="isFirstOpen">

          <h4 *ngIf="isField">Start Time: {{ game.start}}</h4>
          <h4 *ngIf="isField">End Time: {{ game.end }}</h4>

          <ngx-charts-advanced-pie-chart   [scheme]="colorScheme" [results]="game.pieData"
            [gradient]="gradient" (select)="onSelect($event)" (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)">
          </ngx-charts-advanced-pie-chart>

        </accordion-group>
        </accordion>
      </div> -->

    </div>
  </div>
  <div *ngIf="pageLvlError">
    <div class="">
      <div class="alert alert-danger center-cust">
        We are sorry something went wrong in showing the page. <br>
        Please go back and try again or <a [routerLink]="['/non-secure/contact-us']">contact us from
          our contact us page</a>
      </div>
    </div>
  </div>
</div>
