<div *ngIf="!pageLvlError" class="container">

  <div class="row">

    <div class="col-lg-6 my-2">

      <div class="card">

        <div class="card-header">
          <h3 *ngIf="isField" class="mb-3">{{currentVals.fieldName}}</h3>
          <h3 *ngIf="!isField" class="mb-3">{{currentVals.callSign}}</h3>
        </div>

        <div class="card-body text-left">
          <img  src="{{currentVals.imageData}}" class="img-fluid img-thumbnail">

          <p *ngIf="isField" class="mb-4">{{currentVals.profile}}</p>

          <p *ngIf="!isField" class="mb-4">{{currentVals.bio}}</p>


          <label class="form-label">{{currentVals.firstName}} {{currentVals.lastName}}</label>
          <br/>
          <label *ngIf="!viewForUser" class="form-label">Email: {{currentVals.email}}</label>
          <br/>
          <label *ngIf="!viewForUser" class="form-label">Phone: {{currentVals.phone}} </label>
          <br/>
          <label *ngIf="!isField" class="form-label">Clan: {{currentVals.clanTag}} </label>

        </div>

      </div>

    </div>

    <div class="col-4 my-2">

          <div class="row mx-0">

                <h2 class="">Combined Game Stats</h2>

        <div class="row mx-0">

              <h2 class="">Lifetime Points</h2>
              <div class="col">
                <ngx-charts-advanced-pie-chart
                  [scheme]="colorScheme"
                  [results]="pieData"
                  (select)="onSelect($event)"
                  (activate)="onActivate($event)"
                  (deactivate)="onDeactivate($event)">
                </ngx-charts-advanced-pie-chart>
              </div>

        </div>

          <div class="row mx-0" style="margin-top: 2rem;">

                <h2 class="">Historical Game Stats</h2>

                  <ngx-charts-area-chart-stacked
                    [scheme]="colorScheme"
                    [legend]="false"
                    [showXAxisLabel]="false"
                    [showYAxisLabel]="false"
                    [xAxis]="false"
                    [yAxis]="false"
                    [timeline]="true"
                    [results]="areaData"
                    (select)="onSelect($event)">
                  </ngx-charts-area-chart-stacked>

        </div>

    </div>

  </div>

</div>

  <div *ngIf="pageLvlError">
    <div class="">
      <div class="alert alert-danger center-cust">
        Something went wrong in showing the page. <br>
        Please go back and try again or <a [routerLink]="['/non-secure/contact-us']">contact us</a>.
      </div>
    </div>
  </div>
