<div class="container">

  <div *ngIf="!pageLvlError" class="row">

    <div class="col">

      <div class="card">

        <div class="card-header">
          <h3 *ngIf="isField" class="mb-3">{{currentVals.fieldName}}</h3>
          <h3 *ngIf="!isField" class="mb-3">{{currentVals.callSign}}</h3>
        </div>

        <div class="card-body text-left">
          <img  src="{{currentVals.imageData}}" class="card-profile-img">

          <p *ngIf="isField" class="mb-4">{{currentVals.profile}}</p>

          <p *ngIf="!isField" class="mb-4">{{currentVals.bio}}</p>

          <div class="form-group">
            <label class="form-label">{{currentVals.firstName}} {{currentVals.lastName}}</label>
          </div>
          <div *ngIf="!viewForUser" class="form-group">
            <label class="form-label">Email: {{currentVals.email}}</label>
          </div>
          <div *ngIf="!viewForUser" class="form-group">
            <label class="form-label">Phone: {{currentVals.phone}} </label>
          </div>
          <div *ngIf="!isField" class="form-group">
            <label class="form-label">Clan: {{currentVals.clanTag}} </label>
          </div>
        </div>
        <div class="card-footer text-right">
        </div>
      </div>
    </div>

    <div class="col">

      <div class="card">
        <div class="card-body">

                <h2 class="center-cust">Combined Game Stats</h2>

                <!-- <div style="max-height: 50vh; max-width: 98vh"> -->
                  <!-- <div style="max-height: 500px; max-width: 500px;"> -->
                  <ngx-charts-advanced-pie-chart
                    [scheme]="colorScheme"
                    [results]="pieData"
                    (select)="onSelect($event)"
                    (activate)="onActivate($event)"
                    [view]="chartView"
                    (deactivate)="onDeactivate($event)">
                  </ngx-charts-advanced-pie-chart>
                <!-- </div> -->

            <h2 class="center-cust">Historical Game Stats</h2>
            <!-- <div style="max-height: 100vh"> -->
              <ngx-charts-area-chart-stacked
                [scheme]="colorScheme"
                [legend]="true"
                [showXAxisLabel]="false"
                [showYAxisLabel]="false"
                [xAxis]="false"
                [yAxis]="true"
                [timeline]="true"
                [view]="chartView"
                [results]="areaData"
                (select)="onSelect($event)">
              </ngx-charts-area-chart-stacked>
            <!-- </div> -->
          </div>

        </div>

      </div>

  </div>

  <div *ngIf="pageLvlError">
    <div class="">
      <div class="alert alert-danger center-cust">
        Something went wrong in showing the page. <br>
        Please go back and try again or <a [routerLink]="['/non-secure/contact-us']">contact us</a>.
      </div>
    </div>
  </div>
</div>
