
.container{
  background-color: #ccba87;
  width: 100%; 
  padding-top: 10px;
  box-shadow: 5px 5px 50px #ccba87;
}
   
.center-cust{
  justify-content: center;
  text-align: center;
  float: center;
}
.container img{
  max-width:100%; 
  max-height:100%;
}

