/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.btn:hover, li.nav-item:hover {
    transform: scale(1.08);
}

.btn:active, li.nav-item:active {
    transform: scale(0.92);
}
