/* You can add global styles to this file, and also import other style files */

@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/themes/dark.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn:hover {
    transform: scale(1.05);
}

.btn:active {
    transform: scale(0.95);
} 

body {

    background-color: #2b1f07;
    margin: 0;
    padding: 0;
     min-height: 100%; /* real browsers */ /* needed for container min-height */
  }
  div.main_content {

    background-color: #2b1f07;
    position: relative; /* needed for footer positioning*/
    height: auto !important; /* real browsers */
    min-height: 100vh; /* real browsers */
  }
  
  .card-header {
      background-color: #72716c !important;
      }
  
  .card-body{
      background-color:#928b56;
  
  }