<div class="row center-cust">
    <div class="card col-4">
        <div class="card-header no-border">
            <h5 class="card-title">Players</h5>
        </div>
        <div class="card-body pt-0">

          <ol type="1">
            <li> Register a profile. </li>
            <li> Buy a Skirmesh approved wristband. </li>
            <li> Connect your RFID wristband to your profile. </li>
            <li> Play games at Skrimish enabled fields to collect stats. </li>
            <li> View and share stats. </li>
          </ol>

        </div>
    </div>
    <div class="card col-4">
        <div class="card-header no-border">
            <h5 class="card-title">Fields</h5>
        </div>
        <div class="card-body pt-0">
          <ol type="1">
            <li> Reach out to Skrimish to outfit your field. </li>
            <li> Configure Game in your profile. </li>
            <li> Start Games. </li>
            <li> Promote live games. </li>
            <li> View and share stats. </li>
          </ol>
        </div>
    </div>
</div>
