
<footer *ngIf="!appSvc.isMobile" class="mainfooter" role="contentinfo">
    <div class="footer-middle">
    <div class="container">
      <div class="row">



        <div class="col-md-3 col-sm-6">
            <!--Column1-->
            <div class="footer-pad">
              <h4>Helpful Links</h4>
              <ul class="list-unstyled">
                <li><a  [routerLink]="['/non-secure/contact-us']">Contact Us</a></li>
                <li><a  [routerLink]="['/non-secure/privacy-policy']">Privacy Policy</a></li>
                <!-- <li><a  [routerLink]="['/non-secure/faq']">FAQs</a></li>  -->
              </ul>
            </div>
          </div>



        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Product Updates</h4>
            <ul class="list-unstyled">
              <li><a href="#"></a></li>
              <li><a  [routerLink]="['/non-secure/feature-list']">Feature List</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>How to's</h4>
            <ul class="list-unstyled">
                <li> <a href="../../../assets/docs/FieldFlyer.pdf" download="BuyingGuide.pdf"> Field Buying Guide </a></li>
                <li> <a href="../../../assets/docs/Skirmesh Quick Start Guide.pdf" download="QuickStart.pdf"> Field User Guide</a> </li>
                <li> <a href="../../../assets/docs/Skirmesh Device Status Guide.pdf" download="DeviceStatus.pdf"> Device Status Guide</a> </li>
                <!-- <li> <a href="#"></a>  </li> -->
            </ul>
          </div>
        </div>
          <div class="col-md-3">
              <h4>Reach out to us</h4>
              <ul class="social-network social-circle">
               <li><a href="https://www.facebook.com/pages/category/Sports---Recreation/Skirmesh-108898537907505/" class="icofacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
               <li><a href="mailto:skirmesh.net@gmail.com" class="icotwitter" title="twitter"><i class="fa fa-google"></i></a></li>
              </ul>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 copy">
              <p class="text-center">&copy; Copyright 2021 - Skirmesh.  All rights reserved.</p>
          </div>
      </div>


    </div>
    </div>
  </footer>

  <nav *ngIf="appSvc.isMobile"  class="mobile-bottom-nav">
    <div *ngIf="!isSecure" [routerLink]="['/non-secure/live-games']" routerLinkActive="active-link" class="mobile-bottom-nav__item">
      <div class="mobile-bottom-nav__item-content">
        <i class="fa fa-gamepad" aria-hidden="true"></i>
        <i><b>
          Live Game
        </b></i> 
      </div>		
    </div> 
    <div *ngIf="isSecure" [routerLink]="['/secure/live-games']" routerLinkActive="active-link" class="mobile-bottom-nav__item">
       <div class="mobile-bottom-nav__item-content">
        <i class="fa fa-gamepad" aria-hidden="true"></i>
        <i><b>
          Live Game
        </b></i> 
      </div>		
    </div> 
    <div *ngIf="!isField &&  isSecure" [routerLink]="['/secure/dashboard']" routerLinkActive="active-link" class="mobile-bottom-nav__item">
      <div class="mobile-bottom-nav__item-content">
        <i class="fa fa-home" aria-hidden="true"></i>
        <i><b>
          Dashboard
        </b></i> 
      </div>		
    </div>
    
    <div *ngIf="isField &&  isSecure" [routerLink]="['/secure/startGame']" routerLinkActive="active-link"  class="mobile-bottom-nav__item">
      <div class="mobile-bottom-nav__item-content">
        <i class="material-icons">Manage Game</i> 
      </div>		
    </div>
 
    <div *ngIf="isSecure"  [routerLink]="['/secure/profile']"  routerLinkActive="active-link" class="mobile-bottom-nav__item">
      <div class="mobile-bottom-nav__item-content">
        <i class="fa fa-user" aria-hidden="true"></i>
        <i ><b>
          Profile
        </b></i> 
      </div>		
    </div>


  </nav>