<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-12">

            <h5 class="mt-4"> <span class="p-2 bg-light shadow rounded text-success"> Version 1.0.0</span> - 1st May 2021</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Initial Release</li>
            </ul>



            <div class="mt-4">
                <a href="#" class="btn btn-primary">Please give us your Feedback!</a>
            </div>
        </div><!--end col-->
    </div><!--end row-->
</div>
